[2014-07-27 15:10] #460 closed, assigned to nobody

[2014-07-30 14:42] drsbaitso opened #1878 "Can't delete empty email or phone field in contact app"
ownCloud v7.0

If you have a contact with a phone number or email address... if you delete the contents of the input box before trashing the entry, and then click the trash icon, it will not delete that entry and throws an error.

Granted, this is a rare case, but when I want to reorder the email order I hit CTL+X instead of CTL+C and that's when I noticed it.

Happens on both Email and Phone numb

[2014-07-30 15:01] #1878 closed, assigned to nobody

[2014-07-30 15:46] oparoz opened #1879 "[files_videoviewer] Black lightbox with .mov file"
### Steps to reproduce
1. upload a .mov file in the files app in OC6
2. upgrade OC to v7
3. click on the video in OC7

Tested with
*mp4 container with a avc1 stream (baseline@L3.0) and a AAC stream
*mov container with a H.263 stream (simple@L1) and a AAC stream. http://a1408.g.akamai.net/5/1408/1388/2005110403/1a1a1ad948be278cff2d96046ad90768d848b41947aa1986/sample_iTunes.mov.zip
### Expected beha

[2014-07-31 10:13] magenbrot opened #1881 "wrong URL in activity mail notification"
the URL in apps/activity/templates/email.notification.php (variable array($_['owncloud_installation'])) is not correct.

I get this in the mails "http://cloud.ovtec.de/var/www/owncloud/" where just "https://cloud.ovtec.de" would be correct.

[2014-07-31 11:28] #1881 closed, assigned to nobody

[2014-08-01 05:04] mbressman opened #1882 "Quick search in current folder"
See here: http://forum.owncloud.org/viewtopic.php?f=29&t=22678

On v6.X, I could start typing some characters in the search box, and besides searching all of ownCloud (with the drop-down results), it would also show me folders/files in the current listing that matched what I typed. So, for instance, if I was viewing a folder that had 50 sub-folders, and I wanted to quickly bring up the one called

[2014-08-01 05:05] mbressman opened #1883 "Sharing External Links - Only One Download at a time?"
See here: http://forum.owncloud.org/viewtopic.php?f=29&t=22728

So, when I share out a folder containing numerous files to an external link (so I can share it with someone who doesn't have an account on my ownCloud install), and they go to the link and try to download, they don't seem to be able to download more than one file at a time. Any ideas why? This doesn't appear to be a limitation of my s

[2014-08-01 12:35] #1882 closed, assigned to butonic

[2014-08-04 10:02] rr-paras-patel opened #1884 "How do i disable file Download based on User Sharing ?"
I want to disable download button for some of the shared file which shared with particular group of user.
Does it possible File_sharring app ?

in short i want check box : is download enable ? with this dialog.....

![image](https://cloud.githubusercontent.com/assets/6395501/3795708/77e895ae-1bbe-11e4-8354-1dd2f9b6959a.png)

[2014-08-04 18:22] #1306 closed, assigned to nobody

[2014-08-05 05:38] calabro opened #1885 "Updater error"
Hi All,

New install of v7 got the message for the update and get the following log error;

Error    updater     /phptmp/3f28e6ff9d194663a02d491a340f921e.zip extraction error

Am running the service on a web host so I can't restart the server etc.

Any assistance appreciated.

CC

[2014-08-05 12:54] #1883 closed, assigned to DeepDiver1975

[2014-08-05 12:59] tetsuo76 opened #1886 "Image preview bug (7.0.1 update)"
### Steps to reproduce
1. Just click an image file
### Expected behaviour

It should display an Image preview
### Actual behaviour

It displays a 29px × 36px thumbnail
### Server configuration

Centos 6.5

**Web server:**
Apache

**Database:**
MySQL

**PHP version:**
5.3

**ownCloud version:** (see ownCloud admin page)
7.0.1

**Updated from an older ownCloud or fresh install:**
Updated from 7.0.0

[2014-08-05 16:56] #1886 closed, assigned to nobody

[2014-08-06 06:39] #1884 closed, assigned to nobody

[2014-08-06 18:37] #1786 closed, assigned to nobody

[2014-08-06 18:45] #1694 closed, assigned to nobody

[2014-08-06 18:47] #1784 closed, assigned to nobody

[2014-08-06 18:53] #1677 closed, assigned to nobody

[2014-08-06 18:58] #1629 closed, assigned to nobody

[2014-08-07 14:50] tfrauenrath opened #1888 "Update to version 7.0.1 failed"
I´ve tried to update to version 7.0.1 from 5.0.14a, but it still failed. Same compared to all the other 6.xx versions.

Checking your installation...
Downloading package...
Creating backup...
Hier ist Dein Back-Up:/homepages/26/d70688825/htdocs/intern/owncloud/data/updater_backup/5.0.28-452e0ca8.zip
Moving files...
Update failed

Please fix this and retry.

The update was unsuccessful. Please repo

[2014-08-08 10:51] #167 closed, assigned to georgehrke

[2014-08-08 10:53] #112 closed, assigned to georgehrke

[2014-08-08 10:59] #122 closed, assigned to nobody

[2014-08-08 12:05] #228 closed, assigned to nobody

[2014-08-09 12:51] #1124 closed, assigned to nobody

[2014-08-09 18:46] srx1 opened #1889 "Update Owncloud 6.0.4 to 7.0.1 failed (using update center)"
Überprüfe deine Installation...
Lade Paket herunter...
Erstelle Backup...
Hier ist Dein Backup:/homepages/36/d19418227/htdocs/websites_eigene/30_oc.rixen.net/data/updater_backup/6.0.4.1-352e3282.zip
Verschiebe Dateien...
Update fehlgeschlagen

An exception occurred while executing 'SELECT `configkey` FROM `oc_appconfig` WHERE `appid` = ?': SQLSTATE[HY000]: General error: 2006 MySQL server has gone

[2014-08-10 21:18] #1889 closed, assigned to nobody

[2014-08-11 16:19] #1636 closed, assigned to VicDeo

[2014-08-12 02:45] moodler-zz opened #1891 "Feature request: allow folders to be synced"
This work in the desktop app will give users control over which folders (and subfolders) are synced or not-synched: https://github.com/owncloud/mirall/issues/1766

The apps need exactly the same thing (even more so, because mobile devices have limited space).

Thanks for all your work on Owncloud.

[2014-08-12 09:49] #1891 closed, assigned to nobody

[2014-08-12 15:20] #1847 closed, assigned to karlitschek

[2014-08-15 12:43] j-ed opened #1893 "Include the Roundcube app into the ownCloud repository"
I would recommend to merge the Roundcube app (hypery2k/owncloud
), which is currently developed separately, into the ownCloud project because the original developer is not having time anymore to continue his project - see https://github.com/hypery2k/owncloud/issues/254 for more details. I think the app is used by many ownCloud users and would be a valuable add-on for it.

[2014-08-20 23:52] #1888 closed, assigned to nobody

[2014-08-20 23:59] vgezer opened #1896 "It is not possible to seek the video"
The current version of MediaElements allows seeking within the video, but the version we have (or due to a misconfiguration) it is not possible.

[2014-08-21 00:20] #1684 closed, assigned to nobody

[2014-08-21 00:23] #1473 closed, assigned to nobody

[2014-08-21 00:23] #1472 closed, assigned to nobody

[2014-08-21 06:14] #1364 closed, assigned to nobody

[2014-08-21 07:03] #1527 closed, assigned to nobody

[2014-08-21 08:25] #1706 closed, assigned to nobody

[2014-08-21 08:28] #308 closed, assigned to nobody

[2014-08-21 18:34] drsbaitso opened #1897 "Multiple caldav issue w/ Thunderbird"
### Steps to reproduce
1. Add two calendars to Thunderbird (different user and domain)
2. Try to sync
3.

### Expected behaviour
Sync both calendars

### Actual behaviour
One calendar syncs... the other gets a 404 error

### Server configuration
**Operating system**:
Debian
**Web server:**
Apache
**Database:**
Mysql
**PHP version:**

**ownCloud version:** (see ownCloud admin page)
7.0.1
**Updated

[2014-08-21 19:25] #1853 closed, assigned to nobody

[2014-08-23 13:24] ghost opened #1899 "Impossible to update from 7.0 to 7.0.1"
I receive this error:

Impossibile aggiornare. Assicurati che il tuo server web abbia l'accesso in scrittura ai seguenti file e cartelle:

/var/www/owncloud/3rdparty
/var/www/owncloud/3rdparty/Archive
/var/www/owncloud/3rdparty/Console
/var/www/owncloud/3rdparty/Jcrop
/var/www/owncloud/3rdparty/LICENSE INFO
/var/www/owncloud/3rdparty/OS
/var/www/owncloud/3rdparty/PEAR
/var/www/owncloud/3rdparty/PE

[2014-08-23 20:35] Bugsbane opened #1900 "[files_videoviewer] Videos play in some browsers but not others"
I have a test video (mp4 container, h264 codec). It plays in Firefox 31 on one Linux computer, but doesn't on another. It plays on Firefox nightly, but doesn't play in Chromium on the same OS install.

When I say "doesn't play" I mean that when I click on the video in the files app, instead of the normal videoplayer interface with a seek bar, volume bar, fullscreen icon and play icon in the middle

[2014-08-25 12:35] ser72 opened #1901 "[6.0.5RC1] Antivirus app incompatible"
The Antivirus app which was packaged with oC6.0.5 is incompatible with this version of oC and cannot be enabled.

![capture](https://cloud.githubusercontent.com/assets/5174383/4029719/41bab196-2c54-11e4-84e3-5885398a9bee.PNG)
![log](https://cloud.githubusercontent.com/assets/5174383/4029720/43e82c3c-2c54-11e4-8068-c5ea4c591b68.PNG)

[2014-08-26 16:58] stonerl opened #1902 "IMAP-Authentication: Limit the users that can authenticate"
I see one design-flaw in the IMAP-Backend. Maybe I miss something but in it's current state, everyone could just log in to an owncloud that has IMAP-Authentication enabled.

e.g.
If I use imap.gmail.com as my authentication-server, everyone with an Gmail-Account could access my ownCloud and create an account. And I don't think that this should be possible.

Either on the user-settings-page or the

[2014-08-27 00:40] #1899 closed, assigned to nobody

[2014-08-27 00:41] #321 closed, assigned to nobody

[2014-08-27 00:46] #872 closed, assigned to tanghus

[2014-08-27 00:47] #25 closed, assigned to nobody

[2014-08-27 00:48] #237 closed, assigned to nobody

[2014-08-27 00:49] #236 closed, assigned to nobody

[2014-08-27 00:53] #410 closed, assigned to tomneedham

[2014-08-27 00:58] #356 closed, assigned to nobody

[2014-08-27 00:58] #342 closed, assigned to nobody

[2014-08-27 00:59] #339 closed, assigned to nobody

[2014-08-27 01:02] #327 closed, assigned to icewind1991

[2014-08-27 09:52] #374 closed, assigned to icewind1991

[2014-08-27 12:50] mk2k opened #1903 "[OC 7.0.1] Antivirus app not permanently deleting infected files"
Steps to reproduce issue/bug:

ownCloud deleted files app  turned on
Set antivirus app to delete infected files
Upload eicar test virus
You receive message: Virus found, it has to be deleted..
Go to deleted files folder in Owncloud. You see the eicar virus file. You can select restore.
Virus is restored into your regular folder.

Please make option available to delete files permanent.
My temporary

[2014-08-27 14:06] ghost opened #1904 "Add newer dependencies/recommendations to admin_dependencies_chk"
Hi,

seems the admin_dependencies_chk needs a resync with the documentation about needed and recommended PHP modules listened here:

http://doc.owncloud.org/server/7.0/admin_manual/installation/installation_source.html#manual-installation

Ref: https://github.com/owncloud/core/issues/10638

[2014-08-28 13:16] bitbull06 opened #1906 "Enforce sharing password complexity"
I thought it might be a good idea to allow enforcing a certain password complexity when giving users the possibility to publicly share files/folders protected by a password.

[2014-08-28 17:53] #366 closed, assigned to nobody

[2014-08-31 14:47] #1874 closed, assigned to nobody

[2014-09-02 09:18] #1525 closed, assigned to nobody

[2014-09-02 20:31] Wikinaut opened #1907 "[7.0.2] "recommends" Music App - and then this app cannot be installed because of "unerlaubtem Code"."
<img src="http://i.imgur.com/6WC7JzB.png">

[2014-09-02 23:45] aidanharris opened #1908 "Gallery / Pictures app doesn't load"
In the console I see the following:

[Error] Failed to load resource: the server responded with a status of 404 (Not Found) (jquery-1.10.0.min.map, line 0) - https://MY_DOMAIN_NAME/owncloud/core/js/jquery-1.10.0.min.map
[Error] Failed to load resource: the server responded with a status of 500 (Internal Server Error) (getimages.php, line 0) - https://MY_DOMAIN_NAME/owncloud/index.php/apps/gallery/

[2014-09-03 05:51] #1907 closed, assigned to nobody

[2014-09-03 05:52] #1908 closed, assigned to nobody

[2014-09-05 09:25] tomadmiraal opened #1909 "Wrong date in calendar when I create a new item"
When I click on a date to add a new item in the webbased calendar, it will show the date of yesterday.

For example when I want to create a item on 9-sept-2014, I will click on it and it will show that I want to create an item on 8-sept-2014

[2014-09-05 09:26] #1909 closed, assigned to nobody

[2014-09-08 22:22] cherberg opened #1911 "Owncloud 7.0.X - OC Filesynchronization fails after local Folder sharing as External Folder"
### Steps to reproduce
1. Login as Administrator
2. Activate App "External Storage Support" (if not active)
3. Go to Admin Page
4. Add local Folder as External Folder (i.e. D:\ServerFolders\Videos)
5. Check Filesync via Owncloud Windows Sync App
### Expected behaviour

Filesync via Windows Application should continue to work
### Actual behaviour

Sync App fails with (german) Errormessage: Interne

[2014-09-09 10:43] #1906 closed, assigned to nobody

[2014-09-09 10:53] #1911 closed, assigned to nobody

[2014-09-09 11:20] #1855 closed, assigned to nobody

[2014-09-09 11:26] #1831 closed, assigned to nobody

[2014-09-09 11:26] #1830 closed, assigned to nobody

[2014-09-09 11:28] #1806 closed, assigned to nobody

[2014-09-09 12:48] #1861 closed, assigned to nobody

[2014-09-09 13:34] #1719 closed, assigned to nobody

[2014-09-09 16:59] #1807 closed, assigned to nobody

[2014-09-10 09:25] #1863 closed, assigned to VicDeo

[2014-09-10 16:07] dbhagen opened #1917 "LDAP module needs save confirmation"
I understand that the admin page makes use of a lot of AJAX calls, but this one is regularly taking down my service. We have admins who have saved passwords in their browser and every time they load the admin page, it's autofilling the LDAP username and password field, replacing the dedicated LDAP user and taking offline the LDAP authentication. Please add some form of confirmation message to the

[2014-09-11 08:38] #1837 closed, assigned to nobody

[2014-09-11 08:40] #1721 closed, assigned to nobody

[2014-09-11 09:55] #1917 closed, assigned to nobody

[2014-09-11 23:50] Bugsbane opened #1919 "Enabling deleted files app returns error: "Table 'oc_files_trash' already exists""
When I try to enable the deleted files app, I just get the following Mysql error onscreen:

An exception occurred while executing 'CREATE TABLE `oc_files_trash` (`auto_id` INT AUTO_INCREMENT NOT NULL, `id` VARCHAR(250) DEFAULT '' NOT NULL, `user` VARCHAR(64) DEFAULT '' NOT NULL, `timestamp` VARCHAR(12) DEFAULT '' NOT NULL, `location` VARCHAR(512) DEFAULT '' NOT NULL, `type` VARCHAR(4) DEFAULT NULL

[2014-09-12 00:27] Bugsbane opened #1920 "Enabling mail template app gives fatal error"
Specifically:
"Fatal  core    Invalid OCS content returned for app templateeditor"

I have it enabled for admin users only. It seems to enable ok, but I don't see anywhere in the admin section to change the templates, so it may not have completely activated properly. I'm using the following setup:

Setup:
Owncloud 7.0.2 (also seen on 7.0.1)
Mysql (was Sqlite 3 , but upgraded to Mysql via occ)
PHP

[2014-09-12 07:08] #1920 closed, assigned to nobody

[2014-09-12 07:09] #1919 closed, assigned to nobody

[2014-09-12 17:49] PVince81 opened #1921 "[files_locking] Potentially unclean fclose"
When using `$view->fopen()` the `LockingWrapper` class has no way to know when `fclose()` is called, so it is not able to automatically clean up its internally kept locks (`$this->locks`).

So far it did work properly due to the fact that: when calling native `fclose()`, as soon as the file handle is garbage collected PHP will automatically free the associated lock from `flock()`, so it doesn't re

[2014-09-12 17:51] PVince81 opened #1922 "[files_locking] $locks lost between calls of fopen()"
I'm not sure, but while debugging I observed that the local `$this->locks` attribute was empty when fopen() was called a second time within the same PHP request.

If this is supposed to keep track of open locks within the PHP request, maybe that attribute should be static instead. The reason this array gets lost between fopen calls is because the storage wrapper is possibly recreated for every fop

[2014-09-13 18:26] vgezer opened #1925 "Tasks app"
Is [this](https://github.com/owncloud/apps/tree/master/tasks) task app now in https://github.com/owncloud/tasks?

[2014-09-16 02:21] carlaschroder opened #1927 "Antivirus App for files0.4.2 bad link to Appstore"
Looking at  Antivirus App for files0.4.2 on the Apps page in OC 7.02, "See application page at apps.owncloud.com" returns a 404. The correct link is http://apps.owncloud.com/content/show.php/Antivirus?content=157439

[2014-09-16 14:59] samsala opened #1928 "Cant update from 7.0.1 to 7.0.2"
If im trying to update via the build in update center, i get this message:

"Unable to move C:\xampp\htdocs\owncloud\data to C:\xampp\htdocs\owncloud\data"

Im running OwnCloud 7.0.1 on Windows7

[2014-09-16 20:28] bturrie opened #1930 "Pictures app not finding new photos 7.02"
I uploaded a number of photos into a new folder after my upgrade to 7.02. I didn't see any way to upload them as pictures so I uploaded them as files. Now the Picture app doesn't see them and when I open the folder in files all I see is gears instead of thumbnails. I restarted apache, disabled and enabled the pictures app, and I rebooted the machine to no avail.

Is there a way to force the Pictur

[2014-09-17 14:16] #1925 closed, assigned to nobody

[2014-09-18 15:28] #1930 closed, assigned to nobody

[2014-09-18 21:43] #1867 closed, assigned to nobody

[2014-09-18 21:49] #1781 closed, assigned to nobody

[2014-09-19 04:16] Bugsbane opened #1931 "[App request] Instant notification of errors in the log"
The title says it all really. If we had a simple app that displayed new errors in the logs as soon as they happened, it would be a lot easier to debug all the issues with apps / core. In many cases, I only look at the logs days after the error occured, and by then it's hard to tell devs what was happening at the time of the error.

The solution would be that on each page load, or ajax request, we

[2014-09-19 05:42] #1871 closed, assigned to DeepDiver1975

[2014-09-19 09:36] PVince81 opened #1932 "[files_locking] Copy operation on folder creates an empty file"
Discovered while testing https://github.com/owncloud/core/pull/11104

When `$view->copy($path1, $path2)` is used and both paths are directories, the locking app fails to detect that the target is a directory and tries to lock it like a file, which creates an empty file.

@MTRichards @craigpg

[2014-09-19 09:39] PVince81 opened #1933 "[files_locking] Add unit tests"
We should add unit tests for the files_locking app, testing the following:
1) All file operations (read, write, move, copy)
2) All directory operations (mkdir, rmdir, move, copy)
3) Test that the locks work: opening the same file twice doesn't work
4) Test that locks are freed on fclose

[2014-09-19 17:08] PVince81 opened #1934 "[files_locking] Delete lock"
See https://github.com/owncloud/core/issues/11183

I had the files_locking app enabled and it did not help.

We need to look into locking the deleted files on `unlink()`

[2014-09-21 20:55] antanast opened #1935 "Videos not playing in Android"
Hi there.

Using the Android app, I noticed that the videos are not playing from most Android browsers. I tried Chrome, default Android one, Firefox. When you click on play, nothing really happens.

BR,
Antonis

[2014-09-23 11:08] PVince81 opened #1937 "[files_locking] Can locks stay forever ?"
I'm having doubts about the file_locking app but am not familiar enough with the code.

It seems to create lock files in `data/.locks` but it is not clear to me whether these locks can stay forever. I haven't seen any code that would time out the locks or free time.

It could happen that in the case of a PHP timeout during a locked operation, that the lock is never freed again.

Need to look into

[2014-09-24 01:18] chuckingit opened #1938 "app Updater changed config theme and allows public upgrade ..."
Hi - earlier today i used the app Updater and was mostly successful ... there were two things that were not quite right imho hence this thread ...

a) my config file theme was blanked out ... thus instead of showing my previous theme name that was in the config file, after upgrade the name was blank ... once i put the theme name back in, voila - everything was cool again ...

b) the upgrade option

[2014-09-24 12:26] #1938 closed, assigned to nobody

[2014-09-25 17:54] PVince81 opened #1940 "[files_locking] Do not lock metadata files"
When using encryption every key operation goes through the files_locking app.
This is because the encryption app now uses a `$view` to make it work with object stores as well.
This also triggers the locking app storage wrapper.

From what I understand files_locking is supposed to work on storage level, working on a higher level where files are. Maybe it should be restricted to `files/` and maybe `

[2014-09-26 08:42] #1932 closed, assigned to PVince81

[2014-09-27 05:59] ghost opened #1942 "Creating birthday contact in different time zone -> wrong day"
I created a contact including birthday while being in Eastern Standard Time (EST). Everthing looked fine.
After I came back to Central European Time (CET/MEZ), the contact's birthday changed. I was now one day earlier, both in the birthday calendar as well as the contact itself.

Using version: 7.0.2.1

[2014-09-28 13:04] #1942 closed, assigned to nobody

[2014-09-30 16:23] #1933 closed, assigned to th3fallen

[2014-10-01 12:37] franciscoluiz opened #1944 "External storage: Google Drive exhibiting the same folders multiple times"
### Steps to reproduce
1. Just add a google drive as external storage
2. Go to your main page
3. Open the folder that represents the external storage
4. Back one level, to the main
5. Return to the external storage folder..

### Expected behaviour
should show folders properly ... as found on google drive

### Actual behaviour
Each time it returns to the folder, certain folders are being displayed

[2014-10-02 05:59] thkin6 opened #1945 "Add comments to pictures"
Owncloud and the Pictures app are very convenient to build shared pictures albums with family and friends. However it would be nice to be able to add comments/notes to each picture, with the option of adding this text to the bottom or side of every pictures in the slideshow.

[2014-10-02 14:20] #1945 closed, assigned to nobody

[2014-10-08 14:30] #1640 closed, assigned to nobody

[2014-10-13 20:18] actyler555 opened #1947 "Files uploaded from "Share Link" don't sync with ownCloud client"
Hello developers!  Just installed ownCloud and I am loving it.  Ran across this issue today and wanted to add it to the list.

Running the ownCloud 7 Ubuntu packaged install.  I did deploy MySQL after the fact and move the data to a secondary drive using symbolic links.  Using the Windows client for sync.

Scenario:
1. User shares folder from their personal ownCloud folder.
2. External user uses l

[2014-10-13 21:23] #23 closed, assigned to georgehrke

[2014-10-13 21:24] #320 closed, assigned to nobody

[2014-10-15 07:16] ghost opened #1948 "[App request] opds Calibre-like content server"
i'd like to request an opds app to serve and manage my ebooks

[2014-10-15 20:59] todoleza opened #1949 "shared file's preview reveals its owncloud path"
When sharing some file via link (an image for example), the preview, if opened directly, contain "file" variable with URL encoded path relative to user directory (local storage in this case). If I remove this variable from url, everything seems to work.
The path should not be visible to public access.

public link: https://oc-instance.tld/public.php?service=files&t=237c2712565717d30d6aef918651856f

[2014-10-15 21:00] #1949 closed, assigned to nobody

[2014-10-16 06:18] tuaris opened #1950 "Lucene search indexing runs out of memory with large files in cron.php"
I recently added a 16MB file to my owncloud folder and now I am getting the following errors in cron.php:

[code]

After which subsequent errors will then complain with:

[code]

Until I manually remove the lock file:

[code]

Then it's back to where I started.  The search indexer runs our of memory the next time cron.php runs, dies, and the lock file remains.

[2014-10-16 06:21] #1950 closed, assigned to nobody

[2014-10-16 08:59] #1947 closed, assigned to nobody

[2014-10-16 11:20] ghost opened #1951 "Doesn't localization file menu with IE"
Doesn't localization [file] menu (left side menu).
[All files]
[Shared with you]
[Shared with others]
[Shared by link]

I'm Japanese.
When access using Chrome or Firefox then,
[すべてのファイル]
[他ユーザーがあなたと共有中]
[他ユーザーと共有中]
[URLリンクで共有中]
↑ correct view.

Is this a bug ?
Is exist workaround ?

Thanks.

[2014-10-18 16:20] #1951 closed, assigned to nobody

[2014-10-22 05:55] plberd opened #1952 "3D images viewing"
Owncloud image viewer (and Owncloud in general) offer no support for 3D images. Now, with 3D imaging becoming more popular and accessible it'd be awesom to add some support for MPO and JPS files.
There are already some viewers that allow you to show these images using different methods (anaglyph, parallel, even specialized 3D hardware methods) but my php/javascript expertise is not enough to add t

[2014-10-23 16:55] PVince81 opened #1953 "[locking] Lock code creates an empty target file when renaming folders"
Rename a folder "X" to "X2" and debug the operation.

At the time where the write lock for `$path2` is acquired, it will create an empty file "X2".
Fortunately the rename code from core is clever enough to delete "X2" before renaming it to "X".

This is a minor issue, I don't think it will cause any side-effects apart from causing additional useless IO.

[2014-10-25 08:14] onknows opened #1954 "LDAP app hangs ownCloud"
I recently added a second ldap server to my ownCloud configuration completely breaking ownCloud.

When I try to login using admin account there is a white screen only. In log I see message
{"app":"PHP","message":"Call to a member function getUsername() on a non-object at \/var\/www\/html\/owncloud-7.0.2\/apps\/user_ldap\/user_ldap.php#69","level":3,"time":"2014-10-25T08:05:26+00:00"}

Of course my

[2014-10-27 08:55] #1954 closed, assigned to nobody

[2014-11-01 15:42] #851 closed, assigned to georgehrke

[2014-11-02 13:13] radoeka opened #1960 "PHP Fatal error: Cannot redeclare class Pimple in /srv/www/htdocs/owncloud/apps/appframework/3rdparty/Pimple/Pimple.php on line 33 Unexpected error!"
### Steps to reproduce

Just run:  # php -f /srv/www/htdocs/owncloud/cron.php
PHP Fatal error:  Cannot redeclare class Pimple in /srv/www/htdocs/owncloud/apps/appframework/3rdparty/Pimple/Pimple.php on line 33
Unexpected error!
# crontab -l -u wwwrun
# DO NOT EDIT THIS FILE - edit the master and reinstall.
# (/tmp/crontab.P3GJob installed on Sat Oct 25 22:26:24 2014)
# (Cronie version 4.2)

*/15

[2014-11-03 18:06] guidedways opened #1963 "New MKCalendar collections end up as 'unnamed'"
No matter which client we use, the ownCloud collection that gets created using MKCalendar ends up being 'unnamed'. Changing the name does not seem to stick. We're tried the built-in Calendar app in Mac, BusyCal and our own code but nothing seems to be working. We just get 'unnamed'.

[2014-11-04 08:33] jagr19 opened #1964 "[windows feature request] offline upload/download"
would like to have similar feature to onedrive where the cloud drive shows up in file explorer for file upload/download but the file itself is not physically in the hdd. only file details and list is available offlline. this feature could help tablet users who have limited storage space.

[2014-11-04 15:51] jcsjerome opened #1966 "[files_antivirus] Customize email subject"
Hello,

would it be possible to customize the subject of the email sent when a malware is detected :
file : apps/files_antivirus/lib/clamav.php
line :  OCP\Util::sendMail($email, OCP\User::getUser(), 'Malware detected', $msg, $from, 'ownCloud', 1);

Thank you.
Jerome.

[2014-11-13 11:05] adanielvv opened #1972 "Wrong line-height in Calender app"
When you click on a late hour in the _day_ or _week_ view the event is created with a half an hour time shift.
### Steps to reproduce
1. Open Firefox
2. [Go to the ownCloud calendar demo](http://demo.owncloud.org/index.php/apps/calendar)
3. Click on the _Day_ or _Week_ button.
4. Click or drag on a late hour
5. _The event is being created with a half an hour time shift_

Applies to:
Calender, Day

[2014-11-15 15:53] t-b opened #1974 "External user support broken for SMB"
System: debian wheezy

I've just upgraded owncloud from 6.0.x to 7.0.3.
After that I could not login with users through the SMB backend (user_external app).

As it turns out the changes in smb.php from c9f92d3c8 broke the support on my server.
This commit changed the logic so that the user authentication fails even for unrelated errors like NT_STATUS_BAD_NETWORK_NAME.

And on my server I get with

[2014-11-16 10:17] #1972 closed, assigned to nobody

[2014-11-16 19:39] muenchhausende opened #1975 "Imap login with ä,ö,ü in Domainname"
### Steps to reproduce
1. enable external user support
2. try to login via imap with an e-mail account that has ä,ö or ü in the domainname
### Expected behaviour

I should be able to login into owncloud with my e-mail account
### Actual behaviour

Login fails, because owncloud doesn't convert ä,ö,ü
### Server configuration

**Web server:**

apache2

**Database:**

mysql

**PHP version:**

5.4.34-0

[2014-11-17 06:48] jameslbrown opened #1976 "Update 7.0.2->7.0.3"
Used the Update function, but it errors with:

Error	updater	Unable to list /Library/Server/Web/Data/Sites/owncloud.bordo.com.au/owncloud/_oc-upgrade/7.0.3.4/3rdparty content	November 17, 2014 17:43:01
Error	PHP	scandir(): (errno 2): No such file or directory at /Library/Server/Web/Data/Sites/owncloud.bordo.com.au/owncloud/apps/updater/lib/helper.php#81	November 17, 2014 17:43:01
Error	PHP	scandir

[2014-11-18 02:05] stevelong00 opened #1977 "[files_videoviewer] Add option to use video viewer to preview audio files"
While messing around at http://demo.owncloud.org (currently at v7.0) I found that after renaming a .mp3 file to .mp4 and clicking on it the video viewer popped up and started playing the song.  It would be nice if there was an option to enable this popup player for audio files in addition to video files, since it doesn't look like there are any other apps that provide a similar inline preview for

[2014-11-18 08:38] matlo opened #1978 "Folder gallery sizing is wrong when resizing browser or navigating back"
I'm using ownCloud 7.0.3 (stable) in Ubuntu 14.04.01 LTS, Firefox 33.0 and Chromium 38.0 in Linux Mint 17.

To reproduce the problem:
1. open your web browser in fullscreen
2. navigate to https://owncloud.laurendeau.net/public.php?service=gallery&t=e7cb8b325b247948159f09d9e2bfd6b0
![gallery_00](https://cloud.githubusercontent.com/assets/3289527/5084434/3a93449c-6f06-11e4-908f-57b2bcb15dbf.png)
3.

[2014-11-18 20:30] actyler555 opened #1979 "ownCloud Windows Client 1.7.0 "reports Unable to write""
hello everyone.  I am running Ubuntu server 14, MySQL 5.6, ownCloud 7.0.3, and the Windows client version 1.7.0 (build 4162).

I am noticing that I see certain files .vss, .msi, and .zip files thus far fail to sync and the client throws an error stating "Unable to write" in the activity log.  After you will get the warning "Operation canceled."

the client icon then goes "offline" showing a greyed

[2014-11-18 20:52] #1979 closed, assigned to nobody

[2014-11-18 20:55] #1978 closed, assigned to nobody

[2014-11-20 14:23] ultradour opened #1980 "update 7.0.2 to 7.0.3 impossible"
I use the update function and I have this error message :

La mise à niveau n'est pas possible. Veuillez vérifier que votre serveur dispose bien des droits d'accès en écriture sur les fichiers et dossiers suivants :

/home/www/owncloud/logs
/home/www/owncloud/stats

update wants to write in those folders ?
But those folder are "mine", they do not belong to owncloud.
I tried to create a folder name

[2014-11-20 15:21] #1980 closed, assigned to nobody

[2014-11-24 10:34] oparoz opened #1982 "Add an admin area to the apptemplate"
We can collect information from various existing apps, but I think it would help if both apptemplate and the documentation were updated so that we have a common understanding on how to create a section in the admin area to collect settings.

[2014-11-24 15:04] lx4r opened #1983 "Doodle functionality for ownCloud"
I just noticed that there is no good Open Source alternative to the old yet popular [Doodle](http://doodle.com/). Having an app for the planning of meetings and appointments for ownCloud would be awesome and would be an unique characteristic that would make it another tiny bit more attractive for both personal and business use cases in my opinion.
What do you think?

[2014-11-24 16:15] #1983 closed, assigned to nobody

[2014-11-24 18:25] #1212 closed, assigned to VicDeo

[2014-11-24 18:26] #1372 closed, assigned to VicDeo

[2014-11-24 18:29] #1025 closed, assigned to VicDeo

[2014-11-27 14:31] #1960 closed, assigned to nobody

[2014-11-28 08:43] exafunk opened #1985 "Update 7.0.2 -> 7.0.3"
Using the update center an error message came up more or less right after starting the update process from 7.0.2 stable:

german:
Hochrüstung nicht möglich. Stellen Sie sicher, dass dein Webserver Schreibrechte auf die folgenden Dateien und Verzeichnisse hat:
/var/www/owncloud/apps/tasks_enhanced

english:
Update not possible. Make sure your webserver has write access to the following files and fo

[2014-11-30 13:10] #1985 closed, assigned to nobody

[2014-12-01 15:28] 14cooldeep opened #1987 "Opus should be extended to offline applications like VLC and Windows Media Player"

[2014-12-02 10:34] radoeka opened #1988 "FR: possibility to specify (configure) the application that will be shown after login"
Feature Request: possibility to specify (configure) the application that will be shown after login

At the moment after login, the file overview is always shown.  It would be nice if it would be possible
to have another application shown after login.

The personal space https://<server./owncloud/index.php/settings/personal can be used to select
the application to be shown after login.

Will this b

[2014-12-02 13:03] #1988 closed, assigned to nobody

[2014-12-05 11:55] #127 closed, assigned to cbix

[2014-12-05 11:56] #324 closed, assigned to nobody

[2014-12-05 12:02] #325 closed, assigned to nobody

[2014-12-05 12:05] #486 closed, assigned to nobody

[2014-12-11 05:59] florianch opened #1990 "Advanced contacts manager"
Hello,

I would like to create an advanced contact manager because the default one is too simple.

What I need :
All owncloud users are contacts
All owncloud groups of users are contacts groups
If you are in a group you see all contacts in this group
A contact can be public (see by all users) but he can hide (or show) phone number or email
A contact can be in many groups
The link beetween group an

[2014-12-11 12:22] #1990 closed, assigned to nobody

[2014-12-11 20:18] hannob opened #1991 "update fails - 7.0.3 to 7.0.5"
Updating owncloud fails for me. It says:
The update was unsuccessful. Please check logs at admin page and report this issue to the ownCloud community.

This is in the log:
Error   PHP Automatically populating $HTTP_RAW_POST_DATA is deprecated and will be removed in a future version. To avoid this warning set 'always_populate_raw_post_data' to '-1' in php.ini and use the php://input stream instead.

[2014-12-11 20:19] #1991 closed, assigned to nobody

[2014-12-12 12:54] imsoftware opened #1992 "[App request] Add OpenID support for OC7"

[2014-12-12 12:56] imsoftware opened #1993 "[App request] Add OpenID Connect / OAuth support for OC7"

[2014-12-15 10:03] kriztan opened #1994 "[user_external] add email on authenticate user login against IMAP"
I've a new OwnCloud installation on Windows Server 2008 R2 with IIS 7.5 and everything works fine. I've setup a local admin and activated the app user external to authenticate my users against the IMAP server. I recognized that the email address is not set in the personal settings. So there where no email notifications available. I've added the email addresses manually in mysql and now everything

[2014-12-17 11:32] #1713 closed, assigned to nobody

[2014-12-17 13:26] #1928 closed, assigned to nobody

[2014-12-17 13:31] #1885 closed, assigned to nobody

[2014-12-17 13:37] #1571 closed, assigned to nobody

[2014-12-17 14:03] #1418 closed, assigned to nobody

[2014-12-22 12:45] fireba11 opened #1995 "config for files_versions needed"
The current default config might work in a lot of cases, but a custom config should be supported. Ideally broken down per ownCloud instance, per user, per folder or even per file.

[2014-12-25 01:55] #1948 closed, assigned to nobody

[2014-12-28 17:07] alfredosola opened #1996 "Skip sync for files when transfer is aborted by the server"
I had a case where mod_security killed a transfer because the file being transferred was too big for the configured limits, which are the default. This is with mod_security 2.8.0-3 on Debian Jessie, and the Mac client 1.7.1.
The behaviour of the OC client could perhaps be improved by skipping the file and continuing with the rest. It should of course throw an error, but not give up on syncing ever

[2014-12-29 15:29] LoicMahieu opened #1997 "Upgrading 7.0.1 to 7.0.4 fail (Invalid cross-device link)"
From docker ( https://registry.hub.docker.com/u/jchaney/owncloud/ ), I run a owncloud server instance in 7.0.1. I want to upgrade to 7.0.4 via the updater and I get this error:
[code]

Only `/var/www/owncloud/data` is a docker volume. Original docker run:
[code]

[2015-01-02 19:37] ipsec commented on #1944
Same problem here.

[2015-01-05 15:11] Fmstrat commented on #1893
I'm not sure I'll have the time to be a full maintainer, but once the current beta of Roundcube shifts to production, it's going to break things in Firefox (having a loading screen over the window redraw causes a JQuery error). I've implemented a fix in my install that works with both the beta and the current official release (I need the beta to use sieve rules), and could put it into the current

[2015-01-05 15:17] hypery2k commented on #1893
feel free to open up an issue at https://github.com/hypery2k/owncloud with your change details

[2015-01-05 15:24] Fmstrat commented on #1893
Thanks @hypery2k

I've created an issue with a pull request including the fix linked inside it: https://github.com/hypery2k/owncloud/issues/295

[2015-01-06 11:05] fluancefg commented on #1798
I'm not sure if it is related, because I can't follow the link above. I'm using owncloud 7.0.3 and I still have the problem to display correctly the ods file in the viewer, exactly as explained here: https://forum.owncloud.org/viewtopic.php?f=26&t=19092

[2015-01-07 05:58] RealRancor commented on #1997
Hi,

probably should be also re-opened at:

https://github.com/owncloud/updater/issues

[2015-01-11 22:09] Dalker commented on #33
It's sad that this hasn't been implemented yet, in over two years :-( (coming here from one of the related, now closed, threads) - lack of recurrent events' exception handling leads to weird results, like leaving the regular schedule on while away for a week (as this is easier than copying all, then changing start/end dates of each copy - all because it's not yet possible to simply add one excepti

[2015-01-13 11:10] DeepDiver1975 commented on #1671
we should move this over to https://github.com/owncloud/files_antivirus

[2015-01-13 16:52] Maastodonte opened #1998 "Feature Request : External Sites"
Hi guys,

I think that it would be great to be able to set a restriction on group on admin page when adding new external sites.
It would be easier to add this optional input in that particular app than to create a new application for a similar purpose.

Say, I want to add local phpMyAdmin access to all my admins but I don't want my users to even know about it => add new external_site, restrict gro

[2015-01-13 18:34] JimLoose commented on #687
It's not fixed!!!

I have ownCloud 7.0.4 (stable) + a lot of entries with:
`Invalid VObject. Document ended prematurely.`

My problem is, that the Calendar sync seems to work flawless with OSX Yosemite and iOS 8.
But i miss a lot of calendar entries in my iOS 8 Calendar :(

[2015-01-13 20:34] jancborchardt commented on #687
@JimLoose first, sorry for the problems. Can you open a new issue in the [Calendar issue tracker](https://github.com/owncloud/calendar/issues) and use the [issue template](https://raw.github.com/owncloud/core/master/issue_template.md) to supply the needed info? Thanks!

[2015-01-14 10:36] JimLoose commented on #687
@jancborchardt
i unfortunately have no time to dive into the bug that deep! I already dropped OwnCloud Calendar! Sorry!

[2015-01-14 10:59] davleema opened #1999 "OC8 alpha2: updater is broken"
### Steps to reproduce
1. log in as admin user
2. go to the admin panel
3. click Updater in the left panel
4. click the "Open Update Center" button

### Expected behaviour
The update center should open, I guess.

### Actual behaviour
following error message is shown:
Fatal error: Call to a member function getValue() on a non-object in /usr/local/apache2/htdocs/owncloud8/lib/private/updater.php on

[2015-01-14 11:03] LukasReschke commented on #1999
Can you please reopen this at https://github.com/owncloud/updater? - Thanks.

[2015-01-14 11:03] #1999 closed

[2015-01-14 11:05] davleema commented on #1999
Ah, this issue is already reported there. Sorry.

[2015-01-14 11:06] LukasReschke commented on #1999
No worries! - Thanks for reporting issues upstream to us and testing the alpha. Very much appreciated :-)

[2015-01-14 15:13] nsatohiro commented on #1896
I got it.

At first, install pecl_http(1.7.6).
Then, edit /owncloud/lib/private/files.php.
Near line 160, you will find
[code]

so, you just change the code to
[code]
(`http_send_file($filename);` returns `206 Partial Content`.)

I don't grasp all source code, so I don't know whether this fix is good or bad.

I referred https://apps.owncloud.com/content/show.php/Video+Player?content=155546

[2015-01-15 01:27] joefidler commented on #687
Yes I agree this error occured for us last Friday and is not fixed. I am still trying to gather information on the error but its probably a corruption in a calendar database - which resulted in the database being not syncable from CalDav clients (web access was OK) - giving the document premature end message - very bad. I was running on a shared host so have only found a HTTP log file so far which

[2015-01-15 07:12] georgehrke commented on #687
@joefidler This error means that the calendar-data itself is broken. If you enable the debug mode you'll get more information including the id of the object so you can check what's broken with the calendar-data

[2015-01-15 18:42] joefidler commented on #687
Thanks @georgehrke for the reponse. Unfortunately I deleted the OwnCloud instance and created a new one trying to get things working again. The only thing I have left of the failed OwnCloud is the MySQL database itself. I tried poking around in that with phpMyAdmin but really have no idea how to look at data with that tool.

The only hard information I have was that the most effected data was a Ta

[2015-01-15 19:07] georgehrke commented on #687
The __whole__ database is __not__ lost. It's an error message, that's supposed to tell you that certain events are broken. The calendar is (/ should) still be accessible, even though it contains broken data.

[2015-01-16 13:57] sualko commented on #508
:+1:

[2015-01-16 21:30] joefidler commented on #687
Agreed the data is still in the database, but after we saw the Invalid Object message we could no longer access that Tasks data by any method. The tasks data from that calendar no longer displayed on the web client and gave errors to the CavDav clients. Other calenders and tasks lists were still accesible. I also could not export the data - to recreate a new calendar, so for us that portion (agree

[2015-01-16 21:33] georgehrke commented on #687
That's a bug in task app and not directly related to the calendar, please report a bug there.

That seems to be a bug in the calendar. please report a new bug in the calendar repo using the issue template jan [mentioned above](https://github.com/owncloud/apps/issues/687#issuecomment-69814630)
If the data is not too sensitive, please attach an example for broken data.

[2015-01-17 01:43] joefidler commented on #687
Agreed there is probably a bug in the task app which caused the problem which I will try to followup there. Will also to try and find the broken data in the calendar data and post and an issue report for that.

[2015-01-17 09:28] JimLoose commented on #687
i bet we have attachments or geolocation or comments in the original imported mac os calendar (which supports all that)

[2015-01-17 09:30] georgehrke commented on #687
we also support all that.
```Error message Invalid VObject. Document ended prematurely.``` means that the calendar-data is broken and ended unexpectedly. If that's the case OS X calendar should also not be able to parse it.

[2015-01-17 09:59] JimLoose commented on #687
OS X + iCloud works flawless

[2015-01-17 10:02] georgehrke commented on #687
There might still be an issue with 4-byte unicode chars, although I was sure a fix was merged in core ...

[2015-01-17 19:04] joefidler commented on #687
For what its worth we use (used) a mix of Android (4.4.4) with CalDAV, and Linux (OpenSUSE) with Thunderbird and SoGo connector  for clients. No OS X.

[2015-01-17 19:09] JimLoose commented on #687
could somebody please reopen this bug, until we have a better bugreport?
(this one is quite difficult to hunt)

[2015-01-19 07:34] DeepDiver1975 commented on #1822
@PVince81 is this sufficuent? https://github.com/owncloud/files_locking/blob/master/appinfo/info.xml#L8

[2015-01-19 10:24] PVince81 commented on #1822
Yes, more than sufficient :wink:

[2015-01-19 10:25] #1822 closed

[2015-01-20 19:11] joefidler commented on #687
To test things I uploaded an exported copy of the "broken" calendar to a fresh OwnCloud database. No calendar data including tasks was lost, and I could not find any funny chars or corrupted data etc. The fact that I was able to restore all the data from the tasks list was surprising - the failed database was functional enough to export an intact ics file.

[2015-01-21 11:20] stonerl commented on #1693
I think this one can be closed.

[2015-01-22 10:10] LoicMahieu commented on #1997
Docker automated build would do the update job! No need to get the updater works in fact... Just replace the container.

[2015-01-22 11:56] disy-mk commented on #687
Same issue here; maybe the problem of not being unable to share my calendar has is to be credited back to this issue.

[2015-01-22 12:06] georgehrke commented on #687
please try to gather as many information about the broken calendar-data as possible. Just saying that you have the same issue doesn't really help if you don't provide example data.

[2015-01-22 12:12] disy-mk commented on #687
Well of course I will; I just need someone to point out how to find out which vobject id causes the problem (c.f. the reference above my post)

[2015-01-22 12:15] georgehrke commented on #687
enable the debug mode and use the calendar. Some debug notices with information about the id should be logged

[2015-01-22 12:17] disy-mk commented on #687
I did (set log level to 0). This is the log:

[code]

[2015-01-22 12:57] JimLoose commented on #687
Could somebody please reopen this issue?

[2015-01-22 14:56] VicDeo commented on #1997
it's just one of options like using a distro package manager.
Cross partition move for directories is actually a PHP bug.
Fixed in Updater shipped with OC 7.0.3

[2015-01-22 14:56] #1997 closed

[2015-01-22 15:58] georgehrke commented on #687
@JimLoose no, this is the wrong repo and @disy-mk already created a new issue in the calendar repo.

[2015-01-22 16:24] MorrisJobke opened #2001 "Drop admin_dependencies_chk"
see https://github.com/owncloud/core/issues/13599#issuecomment-71028654

[2015-01-23 20:03] law commented on #412
+1

[2015-01-24 23:05] oparoz commented on #1113
https://github.com/owncloud/core/pull/13652

[2015-01-24 23:06] oparoz commented on #439
Implementation via ImageMagick
https://github.com/owncloud/core/pull/13652

[2015-01-25 10:58] rysiekpl commented on #412
[I have implemented this a year ago](https://github.com/owncloud/calendar/pull/308), and [it still has not been merged](https://github.com/owncloud/calendar/pull/440). Apparently, [it also isn't going to get in ownCloud 8](https://github.com/owncloud/calendar/pull/440#issuecomment-68790060).

[2015-01-25 11:02] law commented on #412
That is deeply unfortunate.  Is there anything we, the non coding users of owncloud, can do to help push this along?

[2015-01-25 11:21] krueuw commented on #412
Hayholten is already waiting for two years and we waiting with her/him. This function was already in early versions implemented, later deleted - why??? Then from rysiekpl reimplemented / newimplemented - and not merged in V7 - and now not in V8 - waste of time. Owncloud seems ill - a hard word, but good organisation is a other think. What can we now do? For ever V6 with a fix?

[2015-01-25 11:33] georgehrke commented on #412
Because we moved the common sharing api of ownCloud. Additionally there were no embedded calendars, only public sharing.

Because the UI of the Pull request was completely broken and we hadn't had enough time to fix it.

There are generally no new features in the calendar in ownCloud 8, because we don't have enough human resources for that.

Try to get more people involved with calendar developmen

[2015-01-26 20:44] tombou opened #2002 "Add mp3 player into files_videoviewer (enhancement)"
Since the start, I always want to be able to play in browser mp3 files. So, I've check the current video player and it can plays mp3 without problem.
Also, there was some issues playing some mp4 files generated from a cell phone on some browser, so I've added a direct download link for my own purpose.

What I suggest, is to check if it is possible to add these kind of features in next release of t

[2015-01-27 20:22] karlitschek commented on #2002
@VicDeo What do you think?

[2015-01-29 13:06] soniaarora opened #2003 "Problem in update app"
when i update the owncloud i got this problem in error log which not allowing me to update it

date_default_timezone_set(): Timezone ID '' is invalid at /var/www/html/owncloud/apps/user_otp/3rdparty/multiotp/multiotp.class.php#3759

[2015-01-29 13:55] karlitschek commented on #2003
This seems to be a problem in the user_otp app. Please contact the author of this app.
Thanks

[2015-01-29 13:55] #2003 closed

[2015-01-29 15:04] soniaarora commented on #2003
when i removed user_otp app ..now i m facing this probelm
/tmp/516f2e68ff7e18534b71abb77959ddd9.zip extraction error

[2015-01-29 15:06] soniaarora opened #2004 "unable to update the owncloud"
facing this error
Error	updater	Retrieving http://download.owncloud.org/community/owncloud-7.0.4.zip

[2015-01-30 11:42] aproposnix opened #2005 "OC Calendar: Enhancement - Limit number of events displayed in month view"
I'm currently migrating from Google Calendar to Owncloud (thanks to all the devs for making this possible).  One of the things I use Google Calendar for is keeping a calendar of my all of my phone calls (from Android).  I manged to get my call log to synchronize with owncloud calendar but I've come across a GUI issue.

When you have multiple (read many) calendar events in a day, the OC calendar ap

[2015-01-30 12:48] karlitschek commented on #2005
looks like a problem in the calendar app. Can you open this issue in the calendar repository please?
Thanks a lot.

[2015-01-30 12:48] #2005 closed

[2015-01-30 13:26] aproposnix commented on #2005
Aha.. sorry for that. I thought this was covering all of the OC apps :)

[2015-01-30 20:04] RealRancor commented on #2004
Hi,

1. please re-open in: https://github.com/owncloud/updater/issues
2. please use https://raw.githubusercontent.com/owncloud/core/master/issue_template.md (as asked in the "contributing guidelines" linked in the yellow box when creating a new issue)

[2015-01-31 14:36] LogicalDash opened #2006 "Encryption app can't tolerate interrupted sync"
### Steps to reproduce
1. Enable encryption
2. Sync a whole bunch of files, until something happens to interrupt it
3. Try to sync files that had been partially uploaded

### Expected behaviour
Partially uploaded files should be deleted and replaced by new, fresh copies, and those should get encrypted.

### Actual behaviour
When I upload previously-failed files via the owncloud sync client gui, I

[2015-01-31 14:37] LogicalDash commented on #2006
I'm using the cheapest of cheap webhosts, the lowest tier offered by cloudatcost.com

Without encryption, owncloud tolerates the situation remarkably well.

[2015-01-31 15:51] RealRancor commented on #2006
Dup of: https://github.com/owncloud/core/issues/12725

[2015-02-02 09:55] 1cu commented on #1437
Any update on this - currently it's pretty unstatisfing to browse my media in owncloud.

[2015-02-02 12:41] nicosomb commented on #1090
Ping all.

We are not dead.

See my post here about wallabag v2 and API: https://framasphere.org/posts/367022

I hope collaboration between our applications will be possible.

[2015-02-02 14:04] frode commented on #454
I Agree, please let us choose and set the 200x200 as the default size.

[2015-02-02 21:42] Yamaha32088 commented on #126
Real-time collaborative spreadsheet functionality would make OwnCloud just that much more epic. I would be more than happy to help collaborate to make this happen. Has anyone started working on this? Also I saw mention of Node.JS in this thread as if it was a negative thing, is that something that to stay away from?

[2015-02-03 00:12] MorrisJobke commented on #1090
@jancborchardt Can you coordinate this? Wasn't there a GSoC project last year?

[2015-02-03 09:54] frode opened #2007 "Feature request: Contacts app - add contact photo from url"
Adding contact photos from a URL would be very handy.

In many scenarios you lookup contact information from a web site, under a companies employee overview where the profile photos are included.

Simply copy the image url and paste it in a field that appears if you choose "Upload from url" (visible option when you hoover the contact photo.)

[2015-02-03 10:02] karlitschek commented on #2007
Please open this feature request in the contacts repository. thanks

[2015-02-03 10:02] #2007 closed

[2015-02-03 10:03] MorrisJobke commented on #2007
Can you please reopen this in the calendar bug tracker: https://github.com/owncloud/calendar

[2015-02-04 11:06] wuendsch commented on #126
+1

[2015-02-04 11:54] ataraxus commented on #126
@Yamaha32088 hey, I think NodeJS is not a feasible option, because it would add another dependencie onto owncloud, which should be prevented if possible....

[2015-02-05 02:40] Bugsbane commented on #126
Possibly relevant issue over at WebODF: https://github.com/kogmbh/WebODF/issues/863

[2015-02-05 12:42] MorrisJobke commented on #2001
I checked all the dependencies that are listed in this app:
 * json_encode - available since PHP 5.2.0
 * curl_init - is a soft dependency in core https://github.com/owncloud/documentation/blob/master/admin_manual/installation/source_installation.rst#prerequisites
 * GD - is a hard dependency in core https://github.com/owncloud/core/blob/7a9d428d6f6146d44883e2c5bab04db702792ce4/lib/private/util.ph

[2015-02-05 12:43] LukasReschke commented on #2001
You can't rely on that. There are also distributions that don't ship `json_encode` that's why we have an hard-dependency check as well for that :(

[2015-02-05 12:43] MorrisJobke commented on #2001
Then I will add those checks in core.

[2015-02-05 12:45] MorrisJobke commented on #2001
ctyp_digit is already there: https://github.com/owncloud/core/blob/7a9d428d6f6146d44883e2c5bab04db702792ce4/lib/private/util.php#L584

[2015-02-05 12:49] MorrisJobke commented on #2001
bcadd isn't used anymore by the LDAP code -> drop this dependency

[2015-02-07 17:51] Flachzange commented on #1944
Seems to be I have the same problem: after I added a Google Drive external storage the first folder was added and all others remain grey. The log shows the following message as long I don't remove the external google drive storage:
[code]

### Server configuration
**Operating system**: Ubuntut 14.04 x64
**Web server:** Apache with nginx
**Database:** MySQL 5.5.41
**PHP version:** PHP 5.5.9
**ownCl

[2015-02-09 14:32] hoodie opened #2009 "Abstract method in addressbook.php"
Hi there,
I just updated to OC8, but unfortunately I get this
[code]
php is php5.4.36-0

any ideas?

[2015-02-09 16:53] karlitschek commented on #2009
can you open this in the contacts repository please?
Thanks a lot.

[2015-02-09 16:53] #2009 closed

[2015-02-09 21:01] Beskhue opened #2012 "Problem with upgrading files_encryption from OC 7 => OC 8"
### Steps to reproduce
1. Have a working installation of owncloud version 7.0.4.2 with files_encryption enabled.
2. Attempt to upgrade to owncloud 8.0.0.7.

### Expected behaviour
The upgrade should succeed.

### Actual behaviour
The upgrade hangs. After disabling maintenance mode and trying again, it still hangs.

After disabling files_encryption through the occ console, the upgrade succeeded. Ho

[2015-02-09 22:13] MorrisJobke commented on #2012
@Beskhue Can I ask you to reopen this in core, because the encryption app is part of core: https://github.com/owncloud/core/issues

Thanks

[2015-02-09 22:13] #2012 closed

[2015-02-09 22:16] Beskhue commented on #2012
Sorry, I thought it was an app as it's listed under apps.

Reopened: https://github.com/owncloud/core/issues/14012

[2015-02-09 23:05] gdepratt commented on #126
+1 For this feature.  It is slowing the adoption of OwnCloud where I work and keeping users on GDocs.

[2015-02-10 09:00] hoodie commented on #2009
https://github.com/owncloud/contacts/issues/804

[2015-02-11 15:56] honza801 opened #2014 "Please add user_external authentication (patch included)"
hi,

please add another user_external authentication method based on apache authentication.
it shoud simply watch the _SERVER['REMOTE_USER'] variable.

patch follows as user_external/lib/apachebasicauth.php

<?php
/**
 * Copyright (c) 2014 Jan Krcmar <honza801@gmail.com>
 * This file is licensed under the Affero General Public License version 3 or
 * later.
 * See the COPYING-README file.
 */

/**

[2015-02-13 12:15] oparoz commented on #790
As discussed here: https://github.com/interfasys/galleryplus/issues/17 , loading only images for the current folder also has its downsides.

[2015-02-13 14:06] rfettheidler opened #2015 "app: external; low height of embedded page"
OS: Centos 6, 7
Owncloud: 7.x
Browser: Firefox 31.x, Opera 12.x
external pages are embedded with low height

Solution: change first line of file apps/external/templates/frame.php to
[code]
Inside the base is height missing .

[2015-02-13 14:08] karlitschek commented on #2015
great. Do you want to send a pull request? :-)

[2015-02-13 14:13] MorrisJobke commented on #2015
No. There is already a PR.

[2015-02-13 14:14] MorrisJobke commented on #2015
#1910

[2015-02-13 14:14] MorrisJobke commented on #2015
This will make it into 8.1. Or should this be backported @karlitschek ?

[2015-02-13 14:14] #2015 closed

[2015-02-13 14:19] karlitschek commented on #2015
Please backport

[2015-02-13 14:35] MorrisJobke commented on #2015
@karlitschek stable8 only or also stable7?

[2015-02-13 14:39] karlitschek commented on #2015
stable8 should be enough I think

[2015-02-14 00:29] oparoz commented on #790
First step, stop loading all images.
Available in this branch: https://github.com/interfasys/galleryplus/tree/performance-fixes

[code]

[2015-02-15 18:14] seraphyn commented on #687
CentOS 7 with owncloud 8 running in a subdomain with SSL startssl singed.
(Apache/2.4.6 (CentOS) OpenSSL/1.0.1e-fips PHP/5.4.16)
DavDROID on Android is 0.6.11.
Android is CM 11 M12
WebDav CAL URL is https://beautifulcentosServer/remote.php/webcal/
WebDav Contact full working.
3 Calenders, mine default one persönlich (I think that it could be the Name of the calender :  https://NICEcentosServer/rem

[2015-02-18 16:53] jancborchardt commented on #1437
@oparoz for reference for the new Gallery app.

[2015-02-18 16:58] oparoz commented on #1437
Thanks. The biggest problem is trying to mix the 2 players together. They use different styling, etc. Also, the bigshot library should support video soon, with zooming, etc., so that could be an alternative player... I haven't looked at the JS in details to know for sure.

As far as thumbnails are concerned, they're easy to add to the mix, but they need a play button overlay.

[2015-02-18 18:03] chises opened #2016 "IMAP Backend - massiv logins without any reason"
I use version OC 8.0.0.7 & 7.0.4.2.
In both version i use user backend imap.
config:
'user_backends' =>
array (
0 =>
array (
'class' => 'OC_User_IMAP',
'arguments' =>
array (
0 => '{mailserver:993/imap/ssl/novalidate-cert}INBOX',
),
),
),

I can login successfull and everything is fine. But since 1st sucessfull login my imap server is queried every 5 secounds. Other successfull imap accounts will

[2015-02-18 23:48] jancborchardt commented on #1437
We don’t really need zooming for videos. Pictures and videos should show both the same in the overview and in the detail slideshow. (Except of course for the play button overlay you mentioned.)

[2015-02-23 23:46] oparoz commented on #1634
See https://github.com/owncloud/gallery/issues/23

[2015-02-23 23:50] oparoz commented on #1626
@Fardilha - Try the master version if you can. It does include some encoding fixes.

[2015-02-23 23:54] oparoz commented on #1593
@stefan-niedermann - Try this version
https://github.com/interfasys/galleryplus
master or performance-fixes branch

It includes fullscreen (f) and zoom in/out (up/down, i/o)

[2015-02-24 10:11] awikatchikaen opened #2019 "Display first apps with an update pending"
The new display of apps in the admin menu is great, but like in the 'play store', it would be useful to have the apps to update in the first result.

Or have a special category

[2015-02-24 10:40] carlosafonso commented on #126
+1. I'd be more than glad to help.

[2015-02-24 11:06] dude-the-best commented on #1149
I noticed a weird behaviour:

receiving an Outlook invitation with my MacBook, I can accept the invitation in my iCal calendar. It is then added to the calendar and also synchonzied with the ownCloud and with my ownCloud-calendar on my iPhone => all good.

However, if I accept the same invitation on my iPhone, the appointment is added to my iPhone calendar but is -not- synchronized with ownCloud/i

[2015-02-24 17:54] RealRancor commented on #2019
Hi,

AFAIK the app management is something handled in core so you probably should re-open this in:

https://github.com/owncloud/core/issues

[2015-02-26 09:44] MorrisJobke commented on #2019
Done https://github.com/owncloud/core/issues/14525

[2015-02-26 09:44] #2019 closed

[2015-02-26 09:46] MorrisJobke commented on #1634
Close because of the duplicate

[2015-02-26 09:46] #1634 closed

[2015-02-26 09:46] MorrisJobke commented on #1149
cc @georgehrke @jbtbnl

[2015-02-26 13:00] leandro-lucarella-sociomantic commented on #790
No, I have thousands of images all organized in a hierarchical tree, with very few pictures in each actual leaf folder. My gallery never ends to load.

[2015-02-26 15:00] leandro-lucarella-sociomantic commented on #790
Gallery+ works nicely for me, thanks!

[2015-02-26 15:59] oparoz commented on #790
@leandro-lucarella-sociomantic - Ah, cool. You might run into issues as you reach your leaf folders, but that should be fixed in V2.1. I just had to rewrite a lot of the Javascript to make it ID based vs Path based and also to try and make the view less fragile.

[2015-02-26 16:06] leandro-lucarella-sociomantic commented on #790
On Thu, Feb 26, 2015 at 07:59:44AM -0800, Olivier Paroz wrote:

It's working fine so far, thanks again!

[2015-02-26 21:31] ikarus23 opened #2021 "[user_external] multiple accounts with one credential set"
### Steps to reproduce
1. enable `user_external`, authenticate via imap (dovecot)
2. login with **`user@domain.tld`**
3. logout
4. login with **`User@domain.tld` (capital U)**

### Expected behaviour
Be case insensitive on the user name.

### Actual behaviour
After step 4., access is graded by imap (user and password are valid, case insensitive) but ownCloud creates a new storage environment for t

[2015-02-27 16:09] drsbaitso opened #2023 "duplicate groups in contacts app when adding new contact with group selected"
If I click on one of my groups (Bar)... then click New Contact.  After entering in the name, the Group selection shows two Bar groups.

![dupe](https://cloud.githubusercontent.com/assets/3653167/6416045/b8eaa590-be68-11e4-89ec-36ccd575faed.PNG)

[2015-02-27 16:18] karlitschek commented on #2023
Can you open this in the contacts repository please. Thanks a lot!

[2015-02-27 16:18] #2023 closed

[2015-02-27 17:57] Fardilha commented on #1626
@oparoz
Will do, thanks!
I'm not yet on OC 8 but I planning to update on the new couple of weeks so I'll try then.

[2015-03-02 10:10] promeneur opened #2024 "contact,"firm" field is used as "full name" of a person"
opensuse 13.1 , kde 4.14.4 , kaddressbook 4.14.4
raspbian , owncloud 7.0.4 , contact 0.3.0.18

in kaddressbook in owncloud adressbook i create a card about a firm (not a person) then i don't fill the full name field
i fille the field "organisation" (in english "firm" ?)
the name of the firm is "AB Renovation"
then
i wait for synchronisation to owncloud addressbook
then
i open a session in owncloud

[2015-03-02 12:00] MorrisJobke commented on #2024
Please reopen this in the contacts app: https://github.com/owncloud/contacts

[2015-03-02 12:00] #2024 closed

[2015-03-04 21:00] diarmaid-mcmanus commented on #126
I want to echo @TheKnerd's question - what is it that actually has yet to be done here? I'm willing to contribute development time, as this is a feature I'd like to see implemented. Pinging in @DeepDiver1975 - is hacking in an existing jquery solution mentioned above going to be considered?

[2015-03-05 08:02] jesselsteele opened #2025 "Contacts CardDAV normal use support"
I want my normal user to be able to access its CardDAV link, not only the admin.
The CardDAV link works for a normal user, but it's not listed for a normal user.

An admin gets the row of share links to share for CardDAV contacts, but not a normal user:
/index.php/apps/contacts/
A normal user can access the share links for CalDAV:
/index.php/apps/calendar/

I don't know how this problem may relate

[2015-03-05 08:27] jesselsteele commented on #2025
I found that the problem could only be duplicated in the Midori web browser... Sorry. Close the issue.

[2015-03-05 08:27] #2025 closed

[2015-03-09 20:00] deMattin opened #2026 "[external] ownCloud theming error (with solution!)"
I actually theme my owncloud and one task is to colorize the menu and show a different ownCloud header depending on the app, that is activated.

In this context I recognzed, that the stylesheet ../apps/external/css/style.css is integrated in the wrong place so this stylesheet loads independent of the fact, if external app is active or not.
So theming owncloud results in unwanted effects.

The fix

[2015-03-10 10:52] alvaralmstedt commented on #126
+1

[2015-03-10 19:42] deMattin commented on #2026
@karlitschek:
You gave this the enhancement flag.
But in my opinion it' more likely a bug. :wink:
Even without theming, the overhead grows up and speed is reduced due to loading unneccessary css definitions.

[2015-03-10 22:18] stonie08 opened #2028 "[feature request] add external iCal link"
Some universities offer an iCal link to sync the timetable to your mobile devices as read only iCal links. Also there a calendars out there freely available for stuff like moonphases, holidays, and many more.
Currently iOS can sync these out of the box, Android needs an additional app for that. However when you check your calendar in the owncloud web view these calendars are of course missing. You

[2015-03-11 00:58] karlitschek commented on #2026
@deMattin A question of perspective :-)
Do you want to open a pull request on fix this?

[2015-03-11 01:52] deMattin commented on #2026
I already made it!
https://github.com/owncloud/apps/pull/2027

[2015-03-11 01:54] karlitschek commented on #2026
ahh cool!

[2015-03-11 02:02] deMattin commented on #2026
Could you please check my request?
Maybe I did something wrong because only one of two patches seems to be automatically checked.

[2015-03-11 10:53] RealRancor commented on #2028
Hi,

@karlitschek
this should be also included in this feature request at the calendars issue tracker: https://github.com/owncloud/calendar/issues/192

[2015-03-11 15:21] Mr-HeBo opened #2029 "Update 7.0.4.2 => 8.0.2 (via Update Center) failed!"
Update with update center is failed :(:

[code]

[2015-03-11 15:28] LukasReschke commented on #2029
Can you please reopen this at https://github.com/owncloud/updater/issues and use the issue template? THX!

https://raw.githubusercontent.com/owncloud/core/master/issue_template.md

[2015-03-11 15:28] #2029 closed

[2015-03-12 09:01] prepu opened #2030 "Problem with update from 7.0.2"
Hi, I have tried to update the Owncloud server in a Windows Server 2008 from 7.0.2 to 8.0.2 and I got this message:

Unable to move C:\xampp\htdocs\owncloud2\data to C:\xampp\htdocs\owncloud2\data

Why do I have this problem?

[2015-03-12 09:04] MorrisJobke commented on #2030
@prepu This is something for the https://github.com/owncloud/core issue tracker. But I'm unsure about the current state of the windows support.

[2015-03-12 09:04] #2030 closed

[2015-03-13 05:42] fritz-fritz commented on #1994
Definitely agree with you here. Also to populate the full name field from their account would be useful as well.

[2015-03-13 11:04] lyallp opened #2031 "External Files - DropBox - Updated file, modified date not updated"
### Steps to reproduce
1. Have Dropbox setup as external storage
2. Have a file loaded previously, visible
3. Upload a new copy of the same file, overwriting
4. After successful upload, modified date/time does not change, have to go back to Files and drill back into External Storage

### Expected behaviour
After update, the modified date/time should update, as it does with 'internal' storage, ie,

[2015-03-13 15:23] MorrisJobke commented on #2031
@karlitschek @icewind1991 @DeepDiver1975 Isn't this something for the core repo, because dropbox is part of the core?

[2015-03-15 10:44] shark0der commented on #503
I installed the app on my phone and was using for a while, so there were let's say 100 pictures with `IMG_20150214_205203` naming scheme - everything was good. Then I decided to upload some pictures that I had on my computer from my old phone. I was used to flash various ROMs on my android and I ended up having to pictures folders: `100MEDIA` and `Camera` with the following naming schemes:

[code]

[2015-03-15 16:01] karlitschek commented on #2031
Yes it is. @lyallp Can you open this in the core repository please? Thanks.

[2015-03-15 16:01] #2031 closed

[2015-03-16 10:55] oresch opened #2032 "View not updated while changing contact category"
I opened my addressbook in the sub view for "no category" (in German: Nicht gruppiert").
There I open a contact and add a category/group information. After that action, the current view is not being updated. In my opinion, this event has to be triggered, as the contact has now no more "no category" information....

Cheers
Oliver

[2015-03-16 12:18] karlitschek commented on #2032
can you open this in the contacts repository please?

[2015-03-16 12:18] #2032 closed

[2015-03-16 20:30] fritz-fritz commented on #1994
FYI i have configured mine to automatically drop the domain if a user tries to log in with it so the uid is smaller. I have not yet successfully gotten the email address hacked into MySql with the plugin. Ideally I'd like to know how to test the database to see if the user exists, if not add them, and add their email. (I also know how to manually enter it into MySQL but that is definitely not idea

[2015-03-17 11:49] jancborchardt commented on #503
@shark0der »Google Photos is counting massively on the Exif date taken field« – yes, we should also do that.

cc @oparoz @icewind1991

[2015-03-17 12:38] oparoz commented on #503
@jancborchardt - See https://github.com/interfasys/galleryplus/issues/91 regarding sorting in general. There are 2 issues:
* Missing GUI
* Missing database component to store meta data

Also, regarding having a iOS type interface, this is discussed here https://github.com/interfasys/galleryplus/issues/95 and not easily doable since the type of app is totally different.

[2015-03-18 13:53] #2001 closed

[2015-03-18 20:59] #1927 closed

[2015-03-18 23:34] mr-gosh opened #2033 "external storage makes owc unusable (white page after login)"
after the update from owncloud 7.0.? to 8.0.2 we had a white page for one user after login - some other users didn't have files listed in their files app.

after a little search we recognized that the "external storage" app (0.2.3) is creating the problems.
if this app is deactivated, we can see all files and the user with the white page can see things...

=====

after some search we recognized th

[2015-03-19 01:01] temmokan opened #2034 "Music app doesn't read MP3 tags (ownCloud 7.0.2)"
Music app: 0.3.5

Web server: Apache 2.2.15, PHP 5.5.21

OS: CentOS 6.5 x86_64

allow_url_fopen is True in php.ini, magic quotas are turned off

In music/ app files tree, in 3rdparty/getID3/getid3/getid3.php, on line 96,

public $option_max_2gb_check = false

Rescan:

./occ music:scan --all

performs and reports scan are done, nothing written to owncloud.log, yet all music files are still by Unknw

[2015-03-19 08:57] MorrisJobke commented on #2034
Reopened in https://github.com/owncloud/music/issues/356

[2015-03-19 08:57] #2034 closed

[2015-03-19 08:59] MorrisJobke commented on #2033
@mr-gosh Can you have a look at the owncloud log for more info?

[2015-03-19 20:20] resound88 opened #2035 "Update fails with "unable to list [...]/owncloud/_oc-upgrade/8.0.2.0/3rdparty content""
Hi together,
we have problems with upgrading our ownCloud 6.0.4.1 to a never version with help of the update-center.
This is the error message:
Unable to list [...]owncloud/_oc-upgrade/8.0.2.0/3rdparty content
The newly created folder _oc-upgrade has been removed after the update attempt, but the permissions seemed to be okay.
It's running on Debian 6.
Best regards

[2015-03-19 20:34] VicDeo commented on #2035
@resound88 sorry, direct upgrade to 6 to 8 is not supported, please migrate to OC7.0.5 first.
https://doc.owncloud.org/server/6.0/admin_manual/maintenance/update.html#upgrade

[2015-03-19 20:38] VicDeo commented on #2035
@resound88 argh. Please do not use
`wget http://download.owncloud.org/community/owncloud-latest.tar.bz2` as specified in the manual above but 7.0.5 from this page `https://owncloud.org/changelog/` instead:
`wget https://download.owncloud.org/community/owncloud-7.0.5.tar.bz2`

[2015-03-19 21:11] resound88 commented on #2035
@VicDeo Thank's a lot, that worked perfectly!

[2015-03-19 21:11] #2035 closed

[2015-03-20 14:15] deMattin commented on #2026
Fixed the pull request (made a new one): #2036

[2015-03-20 14:21] MorrisJobke commented on #2026
sorry ... wanted to close the old PR :(

[2015-03-23 07:05] valessiobrito opened #2037 "Request: External site set a specify Group access"
The support "External links/sites" don't support set a group users;

Request feature: support define groups to access external site/link

[2015-03-23 08:37] Lucas-C commented on #1465
I'd love a GateOne app too, e.g. like YunoHost does.

[2015-03-23 11:05] ravermeister commented on #1335
I'm having the samer issue with OC 8.0.2

[2015-03-23 11:22] HLFH commented on #1335
Emby (ex-MediaBrowser) does it. https://github.com/MediaBrowser/MediaBrowser
Plex Media Server does it. https://plex.tv/

And for ownCloud, there are workarounds with [Embedded Videostream](https://apps.owncloud.com/content/show.php/Embedded+Videostream+++0.0.7?content=169002) and [ownCloud XBMC](https://github.com/ddurdle/XBMC-ownCloud)

ownCloud Music never worked. So, how could we seriously hop

[2015-03-24 06:39] marceljanssen2015 commented on #1149
If you are looking for a way to sync one way or two way from Outlook to OwnCloud I can suggest an Outlook add-in called EVO Collaborator for Outlook.
Its easy to setup and you can pick what you want to sync.

Here is a blogpost regarding this program http://outlookandmacosxserver.blogspot.com/2014/10/how-to-sync-outlook-with-owncloud-zimbra.html

[2015-03-24 12:37] PatelParas commented on #126
I would love to contribute for this feature if anybody working on that

[2015-03-24 12:45] PatelParas commented on #1900
Actually chrome need http 206 respose header but this case retune http 200 response so that it is only work with mozila and safari i did the patch for this problem it is working fine for me. If u need further help den raise.

[2015-03-24 22:54] apg1980 commented on #826
Hello,

i am using sophos utm 9.3 webserver protection.
my owncloud server is published via a valid trusted ssl cert from startssl.com and is proxied to the internal http port 80 of the apache webserver (bitnami owncloud appliance).
i am unable to get the ff sync working. Desktop firefox is working.
Are there any known settings i have to check to get the sync working on my android ff devices?
Than

[2015-03-25 07:56] deMattin commented on #2026
Can be closed because PR is merged and issue is solved!

[2015-03-25 08:21] #2026 closed

[2015-03-25 13:45] PeterPablo opened #2038 "Hidden files are not displayed properly if the contain two dots"
### Steps to reproduce
1. Open files app in browser
2. Open folder containing hidden files: `.hidden` and `.hdf2.9`

### Expected behaviour
`.hdf2.9` should be completely gray.

### Actual behaviour
Notice that `.hdf2.9` is not properly colored, due to the second dot in the filename.
![image](https://cloud.githubusercontent.com/assets/4340267/6825772/28cd7740-d2fd-11e4-8095-f8b6a267dc27.png)

###

[2015-03-25 17:49] yasokuhl commented on #34
+1

[2015-03-25 23:23] MorrisJobke commented on #2038
This isn't how it should work. Only the extension is shown in gray. And currently the extension is determined by everything behind the last dot. For more hidden file stuff see https://github.com/owncloud/core/issues/2589

[2015-03-25 23:23] #2038 closed

[2015-03-26 07:49] PeterPablo commented on #2038
I saw that other issue, as well as the PR https://github.com/owncloud/core/pull/4369 and https://github.com/owncloud/core/pull/8438 that were both not accepted.
Even if the current behavior should show the extension in gray, I think it is weird to handle files starting with a dot like this...

[2015-03-26 08:37] MorrisJobke commented on #2038
@PeterPablo Let me have a look at this :)

[2015-03-26 08:38] PeterPablo commented on #2038
Don't worry. It's certainly of low priority. Just wanted to make you aware of this. Me pointing to the line of code probably simplifies matters.

[2015-03-26 08:47] MorrisJobke commented on #2038
@PeterPablo Yes...but it is really early in the morning and this is an easy starter ;)

[2015-03-26 12:45] Superheld commented on #34
no alarm-function or reminders on smartphones until now? :(
-1

[2015-03-28 20:45] scobarbb opened #2039 "Admin documentation/help link in LDAP configuration does not load"
For app 'LDAP user and group backend'

admin guide/help link resolve to this link:

https://doc.owncloud.org/server/8.0/admin_manual/configuration/user_auth_ldap.html

Returns 404.

[2015-03-29 08:23] RealRancor commented on #2039
Hi,

does the initial linik which resolves to this contains a "goto.php" ?

[2015-03-29 08:25] karlitschek commented on #2039
@carlaschroder @danimo

[2015-03-29 11:39] scobarbb commented on #2039
This is the first link:
http://doc.owncloud.org/server/8.0/go.php?to=admin-ldap
Then resolves to:
https://doc.owncloud.org/server/8.0/admin_manual/configuration/user_auth_ldap.html

[2015-03-29 11:56] RealRancor commented on #2039
Ah, yes. Those links are handled in:

https://github.com/owncloud/documentation/issues/

[2015-03-29 12:07] scobarbb commented on #2039
So this need to be re-entered over there, or can this be re-assigned?

[2015-03-29 12:14] RealRancor commented on #2039
github doesn't allow the move issues to other repositories. But i think you can leave this here, will create a PR to fix this later.

[2015-03-29 19:09] RealRancor commented on #2039
PR in https://github.com/owncloud/documentation/issues/994

[2015-03-30 06:28] #2039 closed

[2015-03-31 20:43] ravermeister opened #2040 "external sites: undefined offset at apps/external/templates/settings.php#22"
Hi, I'm getting the same issue as described here:
https://github.com/owncloud/core/issues/14445
it was closed because it belongs to here.

below is my attached log:
`{"reqId":"f5ed7630a113f11df94199fd33b52d08",`
`"remoteAddr":"37.201.240.153",`
`"app":"PHP",`
`"message":"Undefined offset: 2 at \/path\/to\/owncloud\/apps\/external\/templates\/settings.php#22",`
`"level":3,`
`"time":"2015-03-31T20:0

[2015-04-01 20:51] iakiakiak commented on #2033
Owncloud log wile activating external storage support:
Error 	PHP 	file_exists(): open_basedir restriction in effect. File(/l10n/) is not within the allowed path(s): (/var/www/vhosts/domain.net/httpdocs/:/tmp/) at /var/www/vhosts/domain.net/httpdocs/owncloud/lib/private/l10n.php#462 	2015-04-01T20:39:02+00:00
**Error 	PHP 	Class 'OC_Filestorage_Dropbox' not found at /var/www/vhosts/domain.net/http

[2015-04-02 08:31] mr-gosh commented on #2033
iakiakiak just posted it... ;-)

[2015-04-04 16:04] t3chguy commented on #2021
Got an additional scenario, some IMAP servers automatically suffix the username with a default domain if it doesn't contain one, maybe add a config option to only pass the user to the IMAP backend if it contains an `@` sign

[2015-04-06 03:32] yeesuu opened #2042 "user_saml OC6.02 can't be installed"
App "SAML user and group backend" can't be installed because it is not compatible with this version of ownCloud.
please help,TKS!

[2015-04-07 20:09] paskalito commented on #1061
Hi question @matzipan could you start developing at june last year? - in other words is there something going on. - if yes, where? (link)
unfortunately i'm not a programmer - but if there is something i still would like to look at it - supersimple things i'm maybe able to do.

apart from that there is a service https://www.memotoo.com, which just syncs everything with everything. - including carda

[2015-04-10 09:10] jvillafanez opened #2043 "Videoviewer app looks hung out after trying to open a deleted federated cloud share doesn't explain the cause, causing bad UX"
### Steps to reproduce
1. Upload a video file and share it by link in server A
2. Add the link in server B
3. Delete the video file in server A
4. Open the video from server B
### Expected behaviour

An error is shown telling the user that the file is no longer available, and probably deleting the file from server B.
### Actual behaviour

The video looks hung out. You can still close the pop up wi

[2015-04-10 11:30] nemo5 commented on #126
+1

[2015-04-10 23:58] valessiobrito commented on #126
+1  other proposal  https://github.com/zkoss/zkspreadsheet

[2015-04-12 11:31] dedy- commented on #1834
hi @guidtz,

to redirect logout in a specific URL after cas logout, you can edit apps/user_cas/lib/hooks.php and find this script :

if (phpCAS::isAuthenticated())
phpCAS::logout();

replace phpCas::logout(); with :

phpCAS::logoutWithUrl("http://yourspecificURL");

[2015-04-14 09:40] bongosmurf commented on #33
Calendar handling is not trivial as it is and repeating event exceptions are complex as hell. Lotus Notes does this very well and has implemented a feature set which is very practical - and to my knowledge completely within specs - but is sadly not supported by most other SW including Outlook. This includes handling exceptions in recurring events without splitting them into two events, Letting you

[2015-04-14 14:47] drsbaitso commented on #1897
Actually I'm going to reopen this.

Just to summarize...

I use IMAP back end for user auth.  If I try to use Thunderbird / Lightning with two separate domains, I can only connect one of the calendars and the other one fails.

So I have a calendar connected as user@domain1
And a second calendar connected as user@domain2

In the latest 8.0.2 (this has happened ever since 7.x) the second calendar wi

[2015-04-14 14:53] RealRancor commented on #1897
Have you concidered to report this to the bugtracker of lightning?

[2015-04-14 15:02] drsbaitso commented on #1897
No I haven't, but I guess I could.  I mean, the fact it worked in 6.x (and prev) and not in 7.x or 8.x made it seem more like an ownCloud issue as that's the only difference when testing.

I'll toss a bug report their way though.  Bugzilla... shivers....

[2015-04-14 15:31] RealRancor commented on #1897
Hi,

as OC itself can't cause a 404 (file not found) there are probably only two possibilities:

1. Lightning can't handle two different calendars with two different accounts and is accessing a complete wrong URL causing the 404

2. You're using a wrong URL for one of the calendars

Nr. 1 probably should be reported to their bugtracker. I think mozilla has the better knowledge of their product and

[2015-04-14 15:35] drsbaitso commented on #1897
Well, I know the URLs are right because if I disable calendar1, restart TB calendar2 works... and vice versa.  Also v6.x of OC works perfectly with both calendars.

I'll toss a bug report their way and see what's up.

[2015-04-15 08:18] nomeata opened #2044 "Undefined index: components in calendar app"
When I sync my calendar, I get lots of these messages in `owncloud.log`:

[code]

I’m using owncloud 8.0.2-8 on Debian wheezy with a sqlite database, fetched from `http://download.opensuse.org/repositories/isv:ownCloud:community/Debian_7.0/`.

It seems that others had this problem as well in the past: https://github.com/owncloud/core/issues/455

[2015-04-15 15:42] MorrisJobke commented on #2044
Please reopen in the calendar bug tracker: https://github.com/owncloud/calendar/issues

[2015-04-15 15:42] #2044 closed

[2015-04-16 20:27] nomeata commented on #2044
Done: https://github.com/owncloud/calendar/issues/774

[2015-04-17 10:04] PVince81 opened #2045 "[tasks] Tasks app doesn't work with 8.1"
The tasks app can be enabled with 8.1, but clicking the icon in the navigation menu redirects to the main page.

@LukasReschke I guess maybe that app is missing the new routing ? I'll have to look that up to find out how to fix it.

[2015-04-17 10:05] PVince81 opened #2046 "[tasks] Tasks app requires external calendar app"
It looks like the "tasks" app requires the "calendar" app to be enabled.

Maybe we should move the "tasks" app to its own repo too ?

@karlitschek @DeepDiver1975 @LukasReschke what do you think ?

[2015-04-17 10:06] PVince81 commented on #2045
Looks like the routing changes, on it.

[2015-04-20 06:49] RealRancor commented on #2046
Mhh, i thought the tasks app (former tasks enhanced) already has its repos here:

https://github.com/owncloud/tasks

[2015-04-20 07:17] LukasReschke commented on #2045
https://github.com/owncloud/tasks/blob/master/appinfo/routes.php ? :see_no_evil:

[2015-04-20 09:36] PVince81 commented on #2046
Yes it has. I was on the wrong branch (stable7) when I looked at it. Closing.

[2015-04-20 09:36] #2046 closed

[2015-04-20 09:37] PVince81 commented on #2045
Yes, I was on the wrong branch (stable7) when looking at the tasks app...

[2015-04-20 09:37] #2045 closed

[2015-04-20 17:19] carlaschroder opened #2047 "External Sites: many issues"
I've been struggling with documenting the External Sites app because of numerous issues:
- Conflicts between how various sites manage HTTP and HTTPS requests; some enforce, some don't, using various methods
- The app uses iframes, a known security risk that opens the door to clickjacking
- We encourage oC admins to enforce HTTPS, but this causes conflicts with the app
- Web browsers, as they try t

[2015-04-21 17:58] Luticus opened #2048 "Feature Request: Groupd/User filtering for External Sites"
Can we get a feature in External Sites that works similarly to the "enable only for specific groups" feature that some apps have.

I have lots of external sites such as a wiki, Ampache server, etc and it would be fantastic if I could choose which users/groups have access to each site.  For instance I may want a specific user to see the Link/Icon for the Wiki but not Ampache.

I think this would ma

[2015-04-21 18:22] cm1342 opened #2049 "files_videoviewer how can I change "Invalid Source" text?"
I would like to remove or replace the text "Invalid Source" that shows up on movie files that aren't able to be played back.

Long story short, I am sending links to various movie files, however owncloud can only play .mp4 files and everything else looks like a big black box with "Invalid Source" written across it. And wouldn't you know it, I have some users that are easily confused and won't both

[2015-04-23 03:37] carlaschroder commented on #2047
https://github.com/owncloud/documentation/pull/1074

[2015-04-23 21:52] carlaschroder commented on #2047
https://github.com/owncloud/documentation/pull/1081

[2015-04-23 21:52] #2047 closed

[2015-04-24 16:55] trogdan commented on #1944
I have the same problem, but it don't appear to have any special characters in my GDrive folders.  I am seeing the same "undefined offset" and "duplicate file/folder" errors in my log.

[2015-04-27 19:59] Yamaha32088 commented on #126
I found this amazing script today I think it would work perfect to build on it and add the spreadsheet app. http://handsontable.com/demo/contextmenucopypaste.html

[2015-04-28 06:40] prakashwadhwani opened #2050 "Unable to list files/folders using Http/WebDAV client for php"
​Although the PROPFIND request returns the correct xml from the terminal we are unable to access any files/folders using the PROPFIND verb from the WebDAV client by sabre. (http://sabre.io/dav/davclient/)

Have also tried it using guzzle, but getting the same response object.

Code

            $settings = array(
                'baseUri' => $url,
                'userName' => $username,

[2015-04-29 21:19] ntassani opened #2051 "Recommended apps never load"
Hi! I have recently installed Owncloud in my xampp with the bitnami owncloud module in elementary freya. All work flawesly, but the recommended apps section never load. I chek the permissions and is all ok.
I manually install the contacts app ok.

Any help? thanks for your amazing work :)

[2015-04-29 23:06] karlitschek commented on #2051
Hmm. Maybe the bitname package has problems with network connections or is somehow firewalled? I recommendto report this problem to them. Works fine here.

[2015-04-30 00:11] ntassani commented on #2051
http://horasextras.ddns.net/owncloud please help!!! all is working ok... only this problem.
Please, don't close my problem...

[2015-04-30 00:27] carlaschroder commented on #2051
@ntassani I am also seeing this behavior. 8.02 ES, on both Chrome and Firefox. Which version of ownCloud are you running? Which Web browser? I'm wondering if it's a theme bug. When you View Source, do you see anything like this:

[code]

[2015-04-30 00:32] carlaschroder commented on #2051
Oh, never mind the View Source output-- not sure that's relevant. Anyway, I can confirm that you're not the only one seeing this behavior, @ntassani

[2015-04-30 00:33] ntassani commented on #2051
Yes, i have the version 8.02. And i use Opera and Chrome.
And yes, i have in the source:
<nav><div id="navigation">
			<div id="apps" class="svg">
				<ul>
									<li data-id="files_index">
						<a href="/owncloud/index.php/apps/files" title=""

							<img class="app-icon svg" alt="" src="/owncloud/core/img/places/files.svg"/>
							<div class="icon-loading-dark" style="display:none;"></div>

[2015-04-30 10:39] leandro-lucarella-sociomantic commented on #732
+1, Owncloud is **GREAT** so this seems like a very weird missing feature, going through the Files app to import a calendar seems to be the most convoluted and annoying workflow for users. If all the importing logic is there already, I guess adding an import button directly in the Calendar app should be trivial.

[2015-04-30 13:16] jancborchardt commented on #732
This is a duplicate of https://github.com/owncloud/calendar/issues/197 – let’s continue there.

[2015-04-30 13:16] #732 closed

[2015-04-30 16:50] RealRancor commented on #2051
Hi,

this don't looks like an issue with an app itself (which this issue tracker is about) but more like a core problem. There are also some reported issues with the appstore connection if your system is missing the intermediate cert.

[2015-04-30 16:50] RealRancor commented on #2050
Hi,

this don't looks like an issue with an app itself (which this issue tracker is about) but more like a core problem.

[2015-05-02 20:22] Bugsbane commented on #126
@Yamaha32088 - DOes that actually perform calculations? The description just calls it a "data grid editor" and when I tried entering "=3+2" and "3+2" in their demo, it didn't actually calculate the answer...

[2015-05-02 21:44] ntassani commented on #2051
RealRancor, are you saying this problem is related to ssl certificates? I dont use https... But if that correct the problem i want use that :)
I know, this is not a bigger issue becuase i can search and insall the apps manually without problems. But 1 click can be amazing :)

[2015-05-03 06:22] RealRancor commented on #2051
Hi,

i say it could be related to the SSL connection to the appstore. Even if you don't use SSL for your server this connection is done via SSL.

[2015-05-04 13:28] ntassani commented on #2051
Hi! I switch to ssl conection and the issue persists... Is a real mistery, i do the exact installation under virtualbox and the recommended apps are loading. I check the permissions again and is all ok. The apps folder is 777. I dont know what more can i try.

[2015-05-04 13:55] Yamaha32088 commented on #126
@Bugsbane No it does not perform calculations, I did find a couple that did but this one looks the best. It is really easy to get the values from rows and columns so adding calculations to it should be fairly easy. I guess the next step is to start creating this thing instead of just talking about it, however it is my first time contributing to something in a team effort so pardon my newb question

[2015-05-04 14:10] RealRancor commented on #2051
Hi,

its not the certificate/ssl connection to your server as written  above.

[2015-05-04 19:24] lionax commented on #126
Hey folks,

I like what @Yamaha32088 posted for the front-end. IMHO would phpexcel be nice for back-end. I also would like to contribute but also don't know where to start. If the right idea comes up I will post it immediately ;).

Want to mention ShareJS just for info. (It's node.js but seems really neat)
http://sharejs.org/

[2015-05-04 21:02] ntassani commented on #2051
Realrancor, how i can check the ssl connection to the appstore? Where is the connection file/files?

[2015-05-05 04:50] RealRancor commented on #2051
See https://forum.owncloud.org/viewtopic.php?f=31&t=26310&start=30#p85771

[2015-05-05 12:53] #1937 closed

[2015-05-05 12:54] #1922 closed

[2015-05-05 12:55] #1921 closed

[2015-05-05 13:07] miguelclean opened #2053 "uploading ics file with multiple events fails with : 400 Bad Request."
When I try uploading ics files to my calendar with *cadaver* (http://www.webdav.org/cadaver/) I get a "400 Bad Request" response, if the *ics* file contains more than one event. (i.e. multiple events with different UID's). It works fine as long as there is only one event (or all events share the same UID).

Am I expected to upload each event in a seperate *ics* file?

owncloud 8.0.3
cadaver 0.23.3

[2015-05-05 13:21] MorrisJobke commented on #2053
@miguelclean This seems to be a calendar issue. Please reopen here: https://github.com/owncloud/calendar/issues

Also be more precise, what upload means. Maybe paste in your cadaver commands.

[2015-05-05 13:21] #2053 closed

[2015-05-05 21:11] jza34 opened #2054 "default smbclient const not working"
By default, in "owncloud/apps/user_external/lib/smb.php", the smbclient command is defined with:
```const SMBCLIENT = 'smbclient' ```
Well it is enough but it is not working. Smbclient needs a command like "-L" to be ok.

Everytime I upgrade owncloud I have to do the change:
[code]
This little change makes Samba4 authentication working.

I use Debian servers.
Thanks all!

[2015-05-06 07:08] MorrisJobke commented on #2054
cc @icewind1991

[2015-05-06 21:06] lpirl opened #2055 "external storage only supports vulnerable SSH servers"
Sadly, I cannot connect to a hardened SSH server since the corresponding library used [does not support recent ciphers/algorithms](https://github.com/phpseclib/phpseclib/issues/676).

### Steps to reproduce
1. harden your SSH server, e.g. according to [this guide](https://stribika.github.io/2015/01/04/secure-secure-shell.html)
2. add it as an external storage

### Expected behaviour
It just works.

[2015-05-06 21:10] MorrisJobke commented on #2055
@lpirl Thanks for the report. files_external is one of our core apps. Can I ask you to open this issue in the core repo: https://github.com/owncloud/core/issues Thanks

[2015-05-06 21:10] #2055 closed

[2015-05-06 21:14] lpirl commented on #2055
@MorrisJobke ups, thanks. I expected the app "external" in this repository to be what I was looking for…

[2015-05-07 09:54] vikasnagare opened #2056 "After enable the user_external app there is no table and setting for imap user"
I enable the own cloud user_external app but no seting available in admin and when i adding the code in config.php it gives error. and make blank.
Please help.

I have to use imap user for login owncloud

[2015-05-07 18:11] Yamaha32088 commented on #126
@Bugsbane I stand corrected. It looks like they just updated their website with more documentation since my last visit. There is not a formulas option http://handsontable.github.io/handsontable-ruleJS/

[2015-05-07 18:13] RealRancor commented on #2056
Anything in your logfiles? Could be also just a syntax error you have done in the config.php

[2015-05-08 00:17] Bugsbane commented on #126
@Yamaha32088 Nice! Ok, now this is looking interesting! :+1:

[2015-05-08 04:57] t2tbr opened #2057 "Multiple Users Wrong Distribution / Not Showing Other users Data: Only Names - Storage Charts 2 Application 2.6.0"
I have only 2 users in my OC 8.03.
My user is an admin, and the other is not.

When I open the graphs, they only display data as if the admin user has all the data. If I open it as the other user, it shows as if only the other user has all the data.

Even if I filter (in the admin page), the other user (clicking in over the other user) it shows 0, just flat lines with value 0.

My setup is with My

[2015-05-08 05:04] t2tbr commented on #2057
Quick update: I logged with the other user (it has never been logged before, only Client Sync) and now the charts are displayed as if each user is using 50% of the used space. Example: 21% and 21%, even though I know that that is not correct (should be 80% 20%).

[2015-05-08 08:03] RealRancor commented on #2057
Hi,

please note that this is the issue tracker of the ownCloud core apps. The issue tracker of the Storage Charts 2 App is located here:

https://github.com/hypery2k/owncloud/issues

Please close this issue and re-open there.

[2015-05-09 20:48] LibreGit commented on #1896
Just signed up to say I had this issue too with the bundled Video Viewer App based on MediaElement.js : couldn't seek within mp4 videos (owncloud 8.0.3).

Like @nsatohiro, but without pecl_http, your can fix it by editing /lib/private/files.php

replace

                        if ($xsendfile) {
                                $view = \OC\Files\Filesystem::getView();

[2015-05-10 07:53] Luticus opened #2058 "Internal server error after upgrading Owncloud from 8.0.2 to 8.0.3"
I've actually solved this problem but figured I'd post it in case anyone else has the issue and needs help.  Also it would be great if the devs could find a solution so the issue can be avoided in the future.

After upgrading Owncloud to version 8.0.3 I received an Internal server error when trying to get to the login page.  The Owncloud Log didn't show any new entries, but fortunately the Apache

[2015-05-10 18:02] fbartels commented on #1974
As I am not sure if notifications to watchers of this ticket get send by mentioning it in another ticket, I'll just post it here as well.

I extended the check in smb.php to not count NT_STATUS_BAD_NETWORK_NAME as an error and therefore deny login. The fix is in #2059.

[2015-05-10 18:10] fbartels commented on #2054
This fixes #1974 as well, as no NT_STATUS_BAD_NETWORK_NAME is thrown with "smbclient -L"

[2015-05-11 05:21] #1974 closed

[2015-05-11 05:22] karlitschek commented on #2058
can you post the error you saw in the apache log?
This is very strange.

[2015-05-11 13:44] nickvergessen opened #2060 "Update .travis.yml in all repos to match stable8.1"
- [x] activity: https://github.com/owncloud/activity/pull/296
- [x] bookmarks: https://github.com/owncloud/bookmarks/pull/148
- [x] calendar: No `.travis.yml`
- [x] chat: No limit
- [x] contacts: https://github.com/owncloud/contacts/pull/897
- [x] documents: https://github.com/owncloud/documents/pull/481
- [x] files_antivirus: https://github.com/owncloud/files_antivirus/pull/43
- [x] files_locking

[2015-05-12 07:38] #2060 closed

[2015-05-12 07:39] DeepDiver1975 commented on #2060
thx @nickvergessen

[2015-05-12 09:13] crysman opened #2061 "Add a new user automatically to group"
Hello,

I've modified the user_external plugin (apps/user_external/lib/imap.php) in a way that every IMAP authenticated newcomer is being set default quota. That was easy:
`OC_Preferences::setValue($uid, 'files', 'quota', '256 MB');`

Now I want the newly created usr to be automatically assigned to a group (already existing group).

How do I do that, please?

[2015-05-12 22:03] #2057 closed

[2015-05-12 22:03] t2tbr commented on #2057
Moved issue to correct place.

[2015-05-12 23:06] karlitschek commented on #2061
sounds like a great question to ask on the owncloud devel mailinglist. thanks :-)

[2015-05-12 23:06] #2061 closed

[2015-05-13 02:21] Luticus commented on #2058
[Sat May 09 19:24:50 2015] [error] [client 0.0.0.0] {"reqId":"4a95f79a66aed5226ca295757d4be765","remoteAddr":"0.0.0.0","app":"index","message":"Exception: {\\"Message\\":\\"image not found: image:1.png webroot:\\\\\\/owncloud serverroot: \\\\\\/owncloud\\",\\"Code\\":0,\\"Trace\\":\\"#0  \\\\\\/owncloud\\\\\\/lib\\\\\\/private\\\\\\/helper.php(216): OC\\\\\\\\URLGenerator->imagePath('external', '1

[2015-05-13 12:26] alexdor commented on #412
@georgehrke We would like to implement the embedded calendar feature, can it be done using the api or do we have to modify the source code?

[2015-05-13 12:28] georgehrke commented on #412
First https://github.com/owncloud/calendar/pull/440 needs to be fixed and merged. We can't talk embedded calendars before.

[2015-05-15 07:09] RealRancor commented on #2056
@vikasnagare PING?

[2015-05-15 07:15] SergioBertolinSG opened #2064 "[Files_videoviewer] Click in time slider restarts the video or does nothing"
### Steps to reproduce

1. Upload a video.
2. Reproduce it.
3. Try to jump to the middle of the video, clicking in the time slider.

### Expected behaviour
Video continues from the middle

### Actual behaviour
Video is restarted (Chrome) or nothing happens (Firefox).

### Server configuration
**Operating system**:
Ubuntu 14.04

**Web server:**
Apache

**Database:**
MySQL

**PHP version:**
5.5.9

*

[2015-05-15 08:33] SergioBertolinSG commented on #1879
Still happening in 8.1 beta 1 black screen while opening a .mov file.

[2015-05-15 09:01] SergioBertolinSG opened #2065 "[Files_videoviewer] Only some browsers can play videos."
### Steps to reproduce

1. Upload a video.
2. Reproduce it.

### Expected behaviour
Video is reproduced.

### Actual behaviour
Chrome works.
Firefox works.
Safari doesn't work.
Opera doesn't work.
Internet Explorer 8 doesn't work.
Internet Explorer 9 works.

### Server configuration
**Operating system**:
Ubuntu 14.04

**Web server:**
Apache

**Database:**
MySQL

**PHP version:**
5.5.9

**ownCloud

[2015-05-15 09:24] RealRancor commented on #2065
"Reproduce"?

Do you mean played?

[2015-05-15 12:08] butonic commented on #432
https://github.com/owncloud/core/issues/2419 has been closed, reopen that PR if you still cannot connect via keystone.

[2015-05-15 12:08] #432 closed

[2015-05-15 13:05] Dark-Fenix opened #2066 "Automatic upgrade of ownCloud third-party apps / "App-Store""
Hi,

First, my apologies if the question has already been asked, or if it's not the right place to do so.

Is there any graphical method to automatically update specific apps to their latest stable versions, or allowing the administrator to chose the version/tag to install ?

I've seen during my update to 8.0.2 that the web interface indicates the available updates for the owncloud-supported apps,

[2015-05-15 15:47] RealRancor commented on #2066
Hi,

i think thats something which should go to:

https://github.com/owncloud/core/issues

as this is something which is handled in core.

Personally i have subscribed to the apps i'm using at https://apps.owncloud.com to get mail notifications on updates.

[2015-05-15 16:54] Dark-Fenix commented on #2066
You are right, I will put this in the core repo :)

[2015-05-15 21:24] RealRancor commented on #2066
Ref: https://github.com/owncloud/core/issues/16378

Feel free to close this one.

[2015-05-15 22:22] Dark-Fenix commented on #2066
Sure.

[2015-05-15 22:22] #2066 closed

[2015-05-16 06:10] maxidebiax opened #2067 "Unable to download any files"
### Steps to reproduce
1. Access to my files via web interface
2. Clic to download a file
2 bis. Clic to download severals files

### Expected behaviour
Download the file or download an archive.

### Actual behaviour
If i'm downloading one file. I got a message from Firefox : "Unfound file, check syntax, check if file exist"
If i'm downloading severals files : i've got an undersized archive (90b,

[2015-05-16 16:55] RealRancor commented on #2067
Hi,

looks to me like something you should report to the correct issue tracker at https://github.com/owncloud/core/issues

[2015-05-16 21:10] BlueStar88 opened #2068 "After Upgrade to 8.0.3 / External Storage / "Cannot redeclare class smb""
Expected behaviour:

External Storage module should work, even if there are multiple instances of OC installed on the same host.

Actual behaviour:

First OC instance wins, all successive ones die on visit with following lighttpd error:

---
Cannot redeclare class smb in /var/www/instance1/apps/files_external/3rdparty/smb4php/smb.php on line 45
---

The error points to the code of the first visite

[2015-05-17 01:16] RealRancor commented on #2068
Hi,

AFAIK problems/bugs of the files_external app are handled in core:

https://github.com/owncloud/core/issues

[2015-05-17 02:20] xymantec opened #2069 "Bug in Owncloud 8 UI when going back from open PDF."
It looks like when you press back on an open PDF the screen gets stuck on the PDF but you can see it list out folders, check screenshot provided.

![books files owncloud](https://cloud.githubusercontent.com/assets/6463675/7668796/9ae1f5dc-fc00-11e4-8608-d8c71e8f023c.png)

[2015-05-17 10:53] RealRancor commented on #2067
As you have re-open in https://github.com/owncloud/core/issues/16383 feel free to close this issue.

[2015-05-17 14:25] BlueStar88 commented on #2068
You're right, I was not reading the parts list of core. Thanks for the hint! I'll try to move this out of here...

[2015-05-17 14:29] #2068 closed

[2015-05-18 06:32] #2067 closed

[2015-05-18 12:51] spawnazzo opened #2070 "Cannot import calendars with no objects"
### Steps to reproduce
1. Download a calendar with some "online" sources like http://www.officeholidays.com/ics/subscribe_region.php?tbl_region=zug&tbl_country=Switzerland
2. Upload the files
3. make an import

### Expected behaviour
Calendar data should be retrieved from the network

### Actual behaviour
No error issued only a progressbar that is not working

### Server configuration
**Operating

[2015-05-18 14:51] DeepDiver1975 commented on #2065
honestly not much we can do.

[2015-05-18 15:37] RealRancor commented on #2070
Hi,

the issue tracker of the calendar app is located here:

https://github.com/owncloud/calendar/issues

As github doesn't allow to move issues its probably the best if you're re-opening this there.

[2015-05-19 09:17] spawnazzo commented on #2070
Reopened here
https://github.com/owncloud/calendar/issues/791

[2015-05-19 09:17] #2070 closed

[2015-05-20 09:47] jancborchardt commented on #82
cc @libasys & @oparoz on this issue. This has been the prime complaint and problem in usability tests with the Pictures app. (No, not more settings. ;)

[2015-05-20 10:52] oparoz commented on #82
Yep, an upload button shouldn't be a problem, but for drag and drop we would need the whole upload mechanism to be moved to public functions or create our own, which would probably be a nightmare since it seems you were forced to write your own

[2015-05-20 11:11] jancborchardt commented on #82
@oparoz for now an upload button is fine. We can do drag&drop later. :)

[2015-05-20 14:09] #1568 closed

[2015-05-20 14:25] oparoz commented on #82
I've had a look and it's the same problem if using an upload button. All the JS we need is in the Files app, so we can't access it.

[2015-05-20 15:08] libasys commented on #82
no that is not the problem you get the upload functionality with:
[code]
and as example form html
[code]
and a js function like:
[code]
and php part as example:
[code]

and that's all, but i see more a problem if you work with caching the images in a js array, with every new uploaded file you have to generate it new!

[2015-05-20 15:13] oparoz commented on #82
@libasys - Yes, we could do it that way, but we would probably missing lots of use cases covered by https://github.com/owncloud/core/blob/stable8/apps/files/js/file-upload.js

If it's not an exact match, users will reject it.

[2015-05-20 15:17] libasys commented on #82
my 5 cents: I think you have to add to much js to get this feature running and slows the gallery app down!

[2015-05-20 15:19] oparoz commented on #82
How will it slow it down (if drag and drop is not implemented)?

[2015-05-20 15:20] libasys commented on #82
you have to add js libs on loading the gallery app

[2015-05-20 15:23] oparoz commented on #82
Ah, but that's a problem all apps are going to have anyway, since there is no library sharing allowed and since RequireJS is not used.

I agree that it can be a problem to add a large lib to try and solve a problem which only affects a few users, but apparently this is at the top of the list of the most wanted features, so unless the lib is 500k, I think it will be acceptable.

[2015-05-20 15:30] libasys commented on #82
this 3 js files needed:
[code]
you can have a look at the files/ajax/upload.php file if you can use it, what the returning values are!

[2015-05-20 15:40] oparoz commented on #82
My main problem is that file-upload is not on bower. It will be a maintenance nightmare to keep track of changes. That's why it needs to move to the public space or be turned in to a bower lib so that apps can use it.
Could this be a way forward @butonic?

[2015-05-21 11:07] DeepDiver1975 commented on #2064
we might want to update the mediaelement library - current version is https://github.com/johndyer/mediaelement/blob/2.16.4/changelog.md - we ship 2.14.2

[2015-05-21 22:20] gboissiere commented on #126
+1.  Being able to get a good document, spreadsheet and presentation editor in Owncloud is the killer app that's sorely missing right now.

[2015-05-22 10:06] EvgeniySpinov commented on #438
+1. I also miss this function a lot. Same scenario - files are synced from a camera and then edited from another PC in web interface. It is a pain at the moment.

[2015-05-22 13:45] jzombi opened #2071 "subtitle support in videoviewer"
Both html5 and mediaelementjs support subtitles (```<track>``` tag), it would be nice if the videoviewer app could load subtitles for videos.
A quick&dirty hack:
[code]

For a video with file name ```myvideo.mp4``` it loads the subtitle ```myvideo.mp4.vtt```.

It's not an ideal solution; if there is no subtitle with such name, it will still present the radiobutton for selecting it. Also users migh

[2015-05-23 18:59] wtayyeb commented on #126
+1 and online collaborating is an important key feature.

[2015-05-24 08:09] patricktokeeffe commented on #2058
I receive this error on a clean DigitalOcean ownCloud 8.0.2 (14.04 x64) droplet after running

    ~# apt-get update
    ~# apt-get upgrade

I checked that ownCloud *does* operate correctly before attempting to update. After running these commands, an Internal Server Error page is returned instead. The upgrade command doesn't finish either:

[code]

[2015-05-24 17:56] patricktokeeffe commented on #2058
Continuing anyway produces an exception.

[code]

[2015-05-25 06:18] libasys commented on #2065
It is how a video file get streamed from the media player of a browser, safari and mobil ios safari streams the video file reading header "Content-Range" and you have to stream the video by bytes!
http://codesamplez.com/programming/php-html5-video-streaming-tutorial
This should work with your browser:
https://ssl.webpack.de/demo81.libasyscloud.de/index.php/s/m23uB2dOMnzbtHP

[2015-05-26 13:50] juoza commented on #438
+1 Need it!

[2015-05-26 19:11] iliyasbasir opened #2072 "Enabling "Deleted Files " App trigger oC upgrade"
[3194]
### Steps to reproduce
1. Costume performed oC upgrade 6.0.4 to 7.0.5
2. Try to enable " Deleted Files" app
3. Trigger oC upgrade

### Expected behaviour
Able to enable "deleted files" app

### Actual behaviour
Prior to upgrade  customer deleted many files which generated "Deleted Files" app, after oC upgraded from 6.0.4 to 70.5 customer  was try to enable "deleted files" app which trigger

[2015-05-26 19:13] LukasReschke commented on #2072
That looks kinda empty.

[2015-05-26 19:47] VicDeo commented on #2072
I guess a complete list of steps is:
1. install 6.0.4
2. enable " Deleted Files" app
3. disable " Deleted Files" app
4. Upgrade to 7.0.5
5. enable " Deleted Files" app

Expected:
App is upgraded

Actual:
App is upgraded

Resolution: not a bug

:)

[2015-05-26 20:23] iliyasbasir commented on #2072
@VicDeo
Customer did upgrade hey go!  " The deleted files app was enabled for the upgrade from 6.0.4 to 6.0.7,"

[2015-05-26 20:39] iliyasbasir commented on #2072
@VicDeo Any help would be appreciated to fix this issue.

[2015-05-27 15:05] iliyasbasir commented on #2072
*** Here is Step***

[root@owntest2 yum.repos.d]# sudo -u apache php /var/www/html/owncloud-enterprise/occ app:enable files_trashbin
files_trashbin enabled
[root@owntest2 yum.repos.d]# sudo -u apache php /var/www/html/owncloud-enterprise/occ app:disable files_trashbin
files_trashbin disabled
[root@owntest2 yum.repos.d]# sudo -u apache php /var/www/html/owncloud-enterprise/occ app:list
Enabled:
 -

[2015-05-27 16:34] LukasReschke commented on #2072
Looks fishy. cc @DeepDiver1975

[2015-05-27 18:33] bboule commented on #2072
Hey guys here is where we are, user missed step 3 (in the steps above) she did not disable this app in question prior to the upgrade... now she is stuck... what are the options here?  I dont think we can tell someone to do this and consider this not a bug...  Let me know what you think?

[2015-05-27 18:56] LukasReschke commented on #2072
The error appears also at https://github.com/owncloud/core/issues/16454#issuecomment-103925926, this is a **GREAT** example why it is **REALLY** important to post the text and **NOT** a screenshot. We can't search for screenshots.

See then https://github.com/owncloud/core/issues/16343#issuecomment-101780670 and https://github.com/owncloud/core/issues/16204#issuecomment-100363570:

No action requi

[2015-05-27 22:19] mattrandallbecker opened #2073 "Delete function limited to admins after upgrading to 8.0/8.0.3"
### Steps to reproduce
1. Share folder with group/user, giving delete permissions
2. Navigate to file in folder attempt to delete

### Expected behaviour
File should be deleted

### Actual behaviour
Error message "Could not delete: filename"
Activity Log still shows that the person deleted the file, but the file remains.
I added some debugging lines to delete.php and it fails on the unlink() call

[2015-05-27 22:25] mattrandallbecker commented on #2073
Crap, I should have opened this in core.

Closing issue.

[2015-05-27 22:25] #2073 closed

[2015-05-28 16:04] iliyasbasir commented on #2072
@LukasReschke : Those three GitHub related to same customer for diff scenario, I do like to placed picture b/c it gave little more visibility " as we say in America picture meant 1000 word"

I don’t understand when you say “No action required from ENG” so you meant  this is bug ?
Can you guide me what action do I need to take in order to fix this issue.

[2015-05-28 16:39] LukasReschke commented on #2072
If this issue is about the `An exception occurred while executing 'ALTER TABLE "oc_files_trash" ADD ("auto_id" NUMBER(10) NOT NULL)':` error message then this means that the customer uses an Oracle database. – Schema updates (that's what's happening here – the database layout changes) on MSSQL and Oracle are not possible automated in this scenario.
(at least that's what I think is what the issue i

[2015-05-29 13:24] iliyasbasir commented on #2072
@MorrisJobke @butonic Can you please look this issue and let me know if you need any assistance on my side

[2015-05-29 19:22] mesiah70 opened #2074 "Undefined variable: user at /opt/bitnami/apps/owncloud/htdocs/apps/files_antivirus/lib/scanner.php#61"
Dear all,

I have the following issue regardin the clamav on OC 8.0. I got this below error. I know this issue was opened last year in Julay, but all the suggested tips didn't work:

Undefined variable: user at /opt/bitnami/apps/owncloud/htdocs/apps/files_antivirus/lib/scanner.php#61

I don't have an empty line as well. So what may cause this, clamav version is 0.4.2

Rgds and thy for your help

M

[2015-05-29 19:26] VicDeo commented on #2074
@mesiah70 antivirus issues are tracked here https://github.com/owncloud/files_antivirus/issues

Regarding your issue: please update the app with recent stable8 branch https://github.com/owncloud/files_antivirus/archive/stable8.zip

[2015-05-29 19:26] #2074 closed

[2015-05-30 08:19] mesiah70 commented on #2074
Sorry but I get this error, after I've activated the plugin. The OC is not accessible anymore

An exception occurred while executing 'ALTER TABLE `oc_files_antivirus_status` RENAME TO `oc_files_avir_status`': SQLSTATE[42S02]: Base table or view not found: 1146 Table 'bitnami_owncloud.oc_files_antivirus_status' doesn't exist

[2015-05-30 16:54] mesiah70 opened #2075 "after updating files_antivirus to the latest version 0.6.2 error with bitnami_owncloud.oc_files_antivirus_status doesn't exist"
Hello,

I got the following error, when I update the files_antivirus according VicDeo on my bitnami oc:

An exception occurred while executing 'ALTER TABLE oc_files_antivirus_status RENAME TO oc_files_avir_status': SQLSTATE[42S02]: Base table or view not found: 1146 Table 'bitnami_owncloud.oc_files_antivirus_status' doesn't exist

Thanks for your kind help

Haydar

[2015-05-30 17:06] VicDeo commented on #2075
@mesiah70 remove these lines https://github.com/owncloud/files_antivirus/blob/master/appinfo/preupdate.php#L12-L15

**and please report antivirus issues to [antivirus repo](https://github.com/owncloud/files_antivirus/issues)**

[2015-05-30 17:06] #2075 closed

[2015-06-01 14:39] iliyasbasir commented on #2072
@bboule @craigpg Can you please point me engineer who can help me on this issue

[2015-06-01 15:02] bboule commented on #2072
@iliyasbasir the problem here seems to be that the user did not generate the proper upgrade scripts, they need to use the occ commands to generate the schema update however please make sure the user disables the deleted files app prior to running the schema update script.  It sounds to me like this is the step that was missed, let them run the upgrade again with the correct procedure and see where

[2015-06-01 23:46] pcovell74 opened #2076 "Feature Request: Microsoft Outlook attachment pluggin"
Hello All!

I was curious if anyone has come up with a MS Outlook attachment plugin?

My company that I work for uses an appliance called Accellion and it is terribly expensive. http://www.accellion.com/ In a nut shell when we have a large file we need to send to a client we use the Accellion plugin (SFTP) to create a download link within the outlook message when attaching files. It then points to

[2015-06-02 01:06] karlitschek commented on #2076
@MTRichards FYI

[2015-06-02 16:26] poVoq commented on #126
Comes with a huge dependency list (for example mono 4.0), but has an awesome collaborative document, spreadsheet and presentation editor: http://www.onlyoffice.com/blog/2015/04/document-server-3-0-release-and-other-news-for-open-source-community-2/
The main onlyoffice also integrates a bit with owncloud already.
Maybe worth writing an cross integration plugin for owncloud now that is is available

[2015-06-03 12:55] Bugsbane commented on #126
@poVoq One of the core ideas behind ownCloud is keeping the dependencies only to what is found on the most common hosting platforms, and with a minimal set of dependencies. Also, I suspect that pulling in something that relied on mono would be extremely unpopular. That said, with the new stronger separation between core and apps, if this is only dependencies for an app rather than OC itself, who k

[2015-06-04 04:54] kaystrobach opened #2077 "last song replays after calling a android phone with the client"
steps to reproduce (android):

1. start a song or audio book in the owncloud client
2. wait until the screen goes off
3. wait until the song or music is over
4. call the phone
5. music starts again

expected behaviour

* do not replay song

workaround:

* after starting playing music go the the start screen

[2015-06-04 07:10] wtayyeb commented on #126
I suggest to keep in mind to select an app that will dress owncloud theme in future. also needs less changes to be compatible with OC, so the upstream updates and bugfixes will simpler to patch into it.

I guess the better decision will be writing some sort of plugin-like-apps (one officially from OC-team and others by contributes) which joining the 3rd-party spreadsheet app with owncloud, and the

[2015-06-04 10:34] RealRancor commented on #2077
Hi,

please re-open in: https://github.com/owncloud/android/issues

[2015-06-04 12:29] #2077 closed

[2015-06-04 12:39] kaystrobach commented on #2077
done

[2015-06-05 12:42] jblamire commented on #2076
We would also be interested in something like this.  We have a hosted OwnCloud server (Community server 8.0.2).  We are looking for an Outlook plugin to replace large file attachments with a link, but it would be even better it this could be combined with our OwnCloud system.

Thanks,
Jason

[2015-06-08 21:02] MorrisJobke commented on #2072
Duplicate of https://github.com/owncloud/core/issues/16812

[2015-06-08 21:02] #2072 closed

[2015-06-09 09:14] Zappatron commented on #2049
I would also find this very useful.

Thanks

[2015-06-10 09:15] RealRancor commented on #2065
@SergioBertolinSG Just had a short chat with a user on IRC. Seems he managed to get more videos to play by installing the VLC Video Player. This adds a browser plugin as well as additional codecs to the system. Worth a try...

[2015-06-11 11:06] madhusudan opened #2078 "Feature request for File types restrictions (allowed file types to upload,create,rename)"
Hi,
I was wondering why still no one has thought about implementing allowed file type restrictions!!.
Like allowing only Images/Text/Documents to be uploaded and blocking executables like .exe,.bat,.msi etc.. (for security reasons) through out the site. This is the basic need for any web application.

For an easy example, image if a user has an executable file that contains malicious code and he i

[2015-06-11 11:36] oquidave opened #2079 "Mount Amazon S3 buckets as Primary Storage"
Hello, I've installed Owncloud 8.x Community edition on my box. However, I can't mount Amazon S3 buckets directly to the users home directory. Instead when I use the external storage App, it appears as a separate folder under "external storage".

Why do I want this feature? I've run Owncloud on digitalocean $10 VPS and it works well. However, am limited by the service providers storage. Yet I coul

[2015-06-15 22:33] binron commented on #1865
Had the same problem. The fix in #1896 solved it.

[2015-06-16 04:32] Bugsbane commented on #1896
So, if this is working well, how do we go about getting it merged?

[2015-06-16 06:35] thomasvandijk1942 commented on #1149
Tried out this add-in you suggested. Worked very well so far. Fixed my syncing problems.
And seems I can use it for a variety of other services as well. Very nice,would recommend

[2015-06-16 15:13] RealRancor commented on #2078
Hi,

at least the File Firewall of the Enterprise Edition is providing such fine granular upload permission for filetypes: https://github.com/owncloud/documentation/pull/1173

[2015-06-16 17:20] binron commented on #1896
For what is this needed?
[code]
and this?
[code]

[2015-06-16 18:00] LibreGit commented on #1896
1) In case offset seeking is not supported, it will use fread to set the cursor at the desired position in the file (may be usefull if you want to use this method for external storage as well as local storage)
2) It's necessary to turn off output buffering (and clean any of its content). It's in the current implementation or readfile as well ( /lib/private/files/view.php ).

[2015-06-18 17:24] KingCrunch commented on #320
Hi @georgehrke

The linked issue #33 doesn't look like a duplicate of this one :confused: A simple warning isn't very helpful, if you _want_ to edit single instances.

[2015-06-19 12:00] dhuyvetter commented on #1812
They have webhooks now, got the option to set it up when creating a Dropbox app to connect to my ownCloud.

[2015-06-19 22:58] greavette opened #2081 "Feature Request: ownCloud Desktop Client for Linux"
Hello,

I've recently installed the Linux ownCloud Desktop client on Lubuntu and noticed that this GUI is missing the option to 'Choose what to sync'.  I really like this feature from the Windows Client I use and would like to see this on the Linux Client.

Thank you.

[2015-06-19 23:15] carlaschroder commented on #2081
Hi @greavette, you should have a 'Choose what to sync' button on your Linux client. Which version are you running? Look on the General tab; the current version is 1.8.2. These screenshots are from my Linux Mint system.

![linux-sync-client](https://cloud.githubusercontent.com/assets/8388387/8264687/570443d4-169e-11e5-8ad8-bcf95e98458e.png)

![linux-sync-client1](https://cloud.githubusercontent.com

[2015-06-20 07:20] RealRancor commented on #2081
Btw. the issue tracker of the sync client is located here:

https://github.com/owncloud/client/issues

[2015-06-20 11:53] greavette commented on #2081
Hello,

Seems I'm running version 1.5?  I added the opensuse repo for 14.04 and installed owncloud-client.  I guess I'm running an older version then?

Thanks RealRancor...I didn't realize I put this issue in the wrong place.  I'll post my question there.

Thank you.

[2015-06-20 12:32] RealRancor commented on #2081
Hi,

yes. 1.5 is an old version. The "Choose what to sync" feature was introduced in 1.7:

http://www.webupd8.org/2014/11/owncloud-client-170-released-with.html

Its also not needed to ask the question at the clients issue tracker. For such questions the forums https://forum.owncloud.org/ or the users mailinglist should be used.

[2015-06-20 15:57] carlaschroder commented on #2081
Hi @greavette, did you mean the repo for xUbuntu 14.04? At any rate I'm not sure how you got such an old version. I checked the links on openSUSE Build Service, which is where our official clients are hosted, and they look correct. To get the current desktop sync client (or any current ownCloud download) start at  https://owncloud.org/install/. I hope that helps!

[2015-06-20 16:08] RealRancor commented on #2081
Its very likely a problem with the repository priorities where the client 1.5 is pulled from the ubuntu repos instead of the one of OBS. Still i think this is an topic for the forums.

[2015-06-22 15:01] #2081 closed

[2015-06-25 20:06] cmonteroluque commented on #2065
sounds like a workaround

[2015-06-25 20:06] #2065 closed

[2015-06-26 14:40] jancborchardt commented on #415
If someone wants to go for a graphical editor, they can go for it and write an app. I wouldn’t say this is something we should do in core though. Theming is pretty simple for the ones who want to do it, especially when 8.1 is released with the new example theme. :)

[2015-06-26 14:40] #415 closed

[2015-06-26 14:41] jancborchardt commented on #635
@dryo if this still occurs, please reopen this in the Calendar app repository: https://github.com/owncloud/calendar/issues :)

[2015-06-26 14:41] #635 closed

[2015-06-26 14:43] jancborchardt commented on #1268
This has been fixed since a long time. I assume this is also not happening in Gallery+ @oparoz?

[2015-06-26 14:43] #1268 closed

[2015-06-26 14:44] jancborchardt commented on #1136
Any enhancement should be done to https://github.com/owncloud/galleryplus

cc @oparoz as a note for easier sharing here.

[2015-06-26 14:44] #1136 closed

[2015-06-26 14:44] LukasReschke commented on #1268
I'm sure if Gallery+ does not do this GalleryDeluxe might be able to do. If not there is place for another Gallery app! :speak_no_evil:

[2015-06-26 14:44] jancborchardt commented on #763
This is done in the sidebar in the rework. Closing the issue in this old repository.

[2015-06-26 14:44] #763 closed

[2015-06-26 14:45] jancborchardt commented on #718
If this still occurs, we should fix this in the Gallery+ app https://github.com/owncloud/galleryplus cc @oparoz for reference.

[2015-06-26 14:45] #718 closed

[2015-06-26 14:47] jancborchardt commented on #1373
This was fixed since a long time ago (ownCloud 7 or so) with the new look of the Activity app. Cheers! :)

[2015-06-26 14:47] #1373 closed

[2015-06-26 14:47] oparoz commented on #1268
@jancborchardt - I'm allowing some upscaling for very small images like icons so that they don't end up being tiny in the middle of the screen, but the user can easily make them fill the screen or see the original size.

[2015-06-26 14:48] oparoz commented on #1268
And laugh all you want @LukasReschke, I'm sure one day you'll be glad to be able to pick one Gallery app which fits your needs ;)

[2015-06-26 14:51] jancborchardt commented on #1366
This is fixed since some time ago – in the Files list you will see the name of the sharer next to the sharing icon.

[2015-06-26 14:51] #1366 closed

[2015-06-26 14:53] jancborchardt commented on #1487
I’m pretty sure these actions (at least delete) are available in the Gallery+ https://github.com/owncloud/galleryplus – which we should focus our efforts on cc @oparoz :) (Closing this, any issues should be opened in the Gallery+ repo)

[2015-06-26 14:53] #1487 closed

[2015-06-26 14:53] jancborchardt commented on #1521
This has been fixed since some time ago, closing.

[2015-06-26 14:53] #1521 closed

[2015-06-26 14:55] jancborchardt commented on #1381
@oparoz Sharing and deleting is available in Gallery+, right? If so we can safely close this. :) (Sorry, I need to get around to properly test Gallery+ again – https://github.com/owncloud/galleryplus/pull/139 unfortunately is a stupid prevention for that ;)

[2015-06-26 14:55] oparoz commented on #1487
None of these are implemented, but the menu item is tracked here: https://github.com/owncloud/galleryplus/issues/39

[2015-06-26 14:59] oparoz commented on #1381
Not an excuse, just use the proper branch! :P

The share button is tracked here: https://github.com/owncloud/galleryplus/issues/68
Maybe worth opening a separate issue which includes all Files action

[2015-06-26 15:01] oparoz commented on #718
Gallery downloads a thumbnails which fits the screen, nothing bigger.

[2015-06-26 15:05] jancborchardt commented on #1389
So as @bantu doesn’t seem to be responding – @Xenopathic @nickvergessen can one of you switch the fields around? :)

[2015-06-26 15:06] jancborchardt commented on #1389
Closing in favor of core issue https://github.com/owncloud/core/issues/17198

[2015-06-26 15:06] #1389 closed

[2015-06-26 15:07] jancborchardt commented on #1503
@oparoz is a quick fade (very quick, like 300ms maybe) possible for Gallery+?

[2015-06-26 15:07] jancborchardt commented on #592
This is fixed since some time now. :)

[2015-06-26 15:07] #592 closed

[2015-06-26 15:29] jancborchardt commented on #1504
@oparoz is this possible in Gallery+? If so, we can close this. If not: Would indeed be good, and we should open an issue for it in the tracker. :)

[2015-06-26 15:56] oparoz commented on #1504
The request is there https://github.com/owncloud/galleryplus/issues/141
It's a matter of waiting for @libasys to port his solution :)

[2015-06-26 16:10] jancborchardt commented on #1268
@oparoz hehehe – ok, sounds good. I’ll check it out. If there’s too much crazy UI involved we might need to talk about that, but good thoughts.

[2015-06-26 16:10] jancborchardt commented on #1487
Great stuff!

[2015-06-26 16:11] jancborchardt commented on #1381
Fine by me, closing in favor of https://github.com/owncloud/galleryplus/issues/68 then :)

[2015-06-26 16:11] #1381 closed

[2015-06-26 16:11] jancborchardt commented on #718
AWESOME!

[2015-06-26 16:29] oparoz commented on #1503
I gave it a go and got horrible results... but that's because instead of having multiple DOM elements which could be switched between one another, we detach the picture and re-attach one. Images are pre-loaded though.

Already referenced in Gallery here https://github.com/owncloud/galleryplus/issues/83

[2015-06-26 18:33] jancborchardt commented on #1504
@oparoz you can close this issue in favor of https://github.com/owncloud/galleryplus/issues/141 then as well ;)

[2015-06-26 18:34] jancborchardt commented on #1503
@oparoz you can also close this one in favor of the issue in galleryplus then ;)

[2015-06-26 23:21] #1504 closed

[2015-06-27 13:45] #1503 closed

[2015-06-27 13:52] oparoz commented on #1437
Closing this in favour of https://github.com/owncloud/galleryplus/issues/194

[2015-06-27 13:52] #1437 closed

[2015-06-29 11:04] DaemonLion commented on #990
Looking for this feature too, it will very useful in number of cases

[2015-07-01 07:17] nickvergessen opened #2082 "Update .travis.yml CORE_BRANCH in stable8.1 branches"
- [x] apps: No tests
- [x] activity: https://github.com/owncloud/activity/pull/319
- [x] bookmarks: https://github.com/owncloud/bookmarks/pull/161
- [x] calendar: No `.travis.yml`
- [x] chat: No stable8.1
- [x] contacts: https://github.com/owncloud/contacts/pull/945
- [x] documents: https://github.com/owncloud/documents/pull/501
- [x] files_antivirus: https://github.com/owncloud/files_antivirus/pu

[2015-07-01 07:18] nickvergessen commented on #2082
@DeepDiver1975 @MorrisJobke

[2015-07-01 21:12] cremfert commented on #2048
I just modified the External plugin in a way that I could filter by user, if the Icon for the external site is displayed or not. My appinfo/app.php now looks like this:
[code]

and in ajax/setsites.php I changed the line:
[code]
to
[code]

Lastly, in templates/settings.php, I added two lines for the user field in the for-loop and the if-condition:
[code]

Now, you have a new field in settings (rig

[2015-07-02 13:33] #2082 closed

[2015-07-03 12:00] Auraya86 opened #2083 "user search by displayname problem in app user_external"
If a search term does not start with the displayname (Share with function) the user can not be found.

Example:

Expected result: user_external
Search Term: use
Result: user_external

Excepted result: user_external
Search Term: _ext
Result: no result

I found the error in lib/base.php l.85. Can someone fix it?

Thanks

[2015-07-05 16:46] karlitschek commented on #2083
So what exact error have you found in base.php? Can you explain please?

[2015-07-06 03:29] Luticus commented on #2048
Thanks very much for the help!  Quick question though:  Will this code work with groups as well as users?

I tried it out and when I filled out the user field with either a user or a group the setting didn't seem to stick.  they always appear blank when I navigate back to the admin panel.  I"m still using 8.0.3 though, maybe that is the difference?

Thanks again!

[2015-07-06 10:38] Milannv commented on #126
I'm currently working on a basic implementation for showing spreadsheets within ownCloud 8.x. I must say this project was mainly a research project for my university so there is lot's of room for improvement and new features!

![screen shot 2015-07-06 at 12 31 33](https://cloud.githubusercontent.com/assets/1913267/8520512/17939430-23db-11e5-8718-7158c4b2ff98.png)

Alpha release on github is expect

[2015-07-06 11:33] Yamaha32088 commented on #126
@Milnav Great progress, it sounds promising. I can't wait to check out the alpha release.

[2015-07-06 11:56] onewaypub commented on #126
@Milnav Great news! We could help with testing and bug reporting. I ask some friends, who use my cloud instance, if they could test the feature in productive near cases.

[2015-07-06 13:34] Auraya86 commented on #2083
The wildcard '%' must be infront and behind of the search term to find the expected results.

	array( '%'. $search . '%',  '%'. $search . '%', $this->backend)

[2015-07-06 14:52] karlitschek commented on #126
@Milannv This is super cool! Do you want to create an official ownCloud app out of that? And maybe develop this in it's own repo in the owncloud github organisation?

[2015-07-06 16:24] jancborchardt commented on #424
Yo @blizzz can you reopen that in the Calendar repo? I support this request! :D

[2015-07-08 13:50] Milannv commented on #126
@karlitschek I was planning to create an (official) ownCloud app out of it. However, because this was mainly a research project for an university project, I haven't really decided on feature development. This is mainly caused by time constraints.

[2015-07-08 13:53] karlitschek commented on #126
@Milannv Sure. I understand. But if you make this open source and put tit in github then maybe other people help to develop this further. You are no longer on your own :-)
Your decision of course.

[2015-07-09 17:46] tmdpny opened #2084 "Dropbox : PHP Array to string conversion Error / Target Folder has been moved or deleted"
Dropbox through owncloud has been working properly for several months (since I set it up).

About a week ago I noticed that some files in a folder on dropbox were not showing up in owncloud - these were mainly files uploaded directly to dropbox in the past.

As of this morning, I cannot upload files to dropbox via owncloud. I get two errors in owncloud at the top of the screen:
1. The target folde

[2015-07-10 23:53] DanielBadri commented on #34
Any news on this?

[2015-07-14 07:55] davux commented on #1993
That would be awesome, particularly turning OwnCloud into an identity provider.

[2015-07-15 17:06] enoch85 opened #2085 "https://apps.owncloud.com/content/show.php?content=148406"
Enabled experimental apps, and saw this in the description. Maybe not the best if you ask me.

[code]

Is it possible to change that, or disable the app from appstore?

[2015-07-16 02:54] karlitschek commented on #2085
You mean because of the use of this four letter word?
I personally don't like words like that and I try to avoid them personally. But is is definitely not illegal to use this words in a license. So in the spirit of free speech I think we can't and shouldn't delete this app.

[2015-07-16 02:54] #2085 closed

[2015-07-16 08:04] MorrisJobke commented on #2085
It even seems to be GPL compatible https://en.wikipedia.org/wiki/WTFPL

[2015-07-16 15:30] enoch85 commented on #2085
:+1:

[2015-07-17 11:54] MorrisJobke commented on #2064
I tested the upgrade to 2.17.0 but the bug is still there. Needs further investigation.

[2015-07-17 21:10] DeepDiver1975 commented on #2064
Looks like we need to allocate more time on this: 8.1.2 or even 8.2 from my understanding

[2015-07-17 21:14] brauliobo commented on #34
+1, any news?

[2015-07-19 14:28] cidious commented on #34
:+1: +1

[2015-07-19 17:13] Milannv commented on #126
Bit later than anticipated, but the alpha release is here: https://apps.owncloud.com/content/show.php?content=170678

I hope it is useful, enjoy!

[2015-07-21 16:42] cmonteroluque commented on #2064
agreed

[2015-07-21 16:52] tgrondin opened #2086 "IMAP Authentication randomly stops and starts working."
Issue:
External authentication using IMAP randomly stops working. When this happens, only database users such as the default admin user are able to login. IMAP authentication starts
working again at random and then breaks again, seemingly at random.

I can replicate the issue on versions 8.04, 8.0.5, and 8.1.

# Steps to reproduce
1. Enable user_external
2. Configure IMAP authentication in config/

[2015-07-21 21:08] cremfert commented on #2048
It's just for users, haven't yet implemented this for groups.
The line
[code]
needs to be modified for this. I will have a look, what I can do as I need this feature too.

Best regards,
Chris

[2015-07-22 15:30] svet-b commented on #2065
I experienced a similar issue and was able to get streaming working by enabling X-Sendfile on the server side, following https://doc.owncloud.org/server/8.1/admin_manual/configuration_files/serving_static_files_configuration.html.

I posted my full diagnostics on https://forum.owncloud.org/viewtopic.php?f=31&t=29431. After spending a couple of days struggling with this, I feel that the relationshi

[2015-07-22 16:51] svet-b opened #2087 "[files_videoviewer] X-Sendfile likely required for video streaming - to be documented"
### Issue context
A number of users have reported video streaming with files_videoviewer not working properly (or at all) for a wide range of browser/media configurations (e.g. https://github.com/owncloud/apps/issues/2065, https://github.com/owncloud/apps/issues/2064, https://github.com/owncloud/apps/issues/1900, https://github.com/owncloud/apps/issues/1879, and elsewhere). These issues arise even

[2015-07-22 17:18] RealRancor commented on #2087
Hi,

you could also cross-post this to https://github.com/owncloud/documentation/issues to get it also documented within the docs.

[2015-07-23 14:16] crysman opened #2088 "Add new user automatically to group, set quota"
Hello, please, 2 things:

1) How to **set quota automatically for the first time a user logs in** (using IMAP auth)? I've added this line:

    OC_Preferences::setValue($uid, 'files', 'quota', '256 MB');

But that obviously changes the quota any time user logs in - I need to do it just once, by the first login. I need this hack because all my users are "registering" and logging via IMAP authentica

[2015-07-23 18:38] tgrondin commented on #2086
Here are some additional entries from the data/owncloud.log file. This is what I see when the above issue happens and I try to log into the web interface.

{"reqId":"5hqN5IlzCLvb0dDNqQ5X","remoteAddr":"<ip removed>","app":"core","message":"User backend OC_User_IMAP already initialized.","level":0,"time":"2015-07-23T18:30:34+00:00","method":"POST","url":"\/index.php"}
{"reqId":"5hqN5IlzCLvb0dDNqQ5X

[2015-07-24 07:38] crysman commented on #2088
PS: I do not want (yet) anyone to actually implement it. I just need some piece of code I shall add into the `/var/www/owncloud/apps/user_external/lib/imap.php` file, thanks a lot.

[2015-07-24 10:08] DeepDiver1975 commented on #227
please move this over to the calendar repo - THX

[2015-07-24 10:08] #227 closed

[2015-07-24 10:09] DeepDiver1975 commented on #1616
Please reopen in the activity repo if still valid - thx

[2015-07-24 10:09] #1616 closed

[2015-07-24 10:09] DeepDiver1975 commented on #1613
Please reopen in contacts repo is still broken - THX

[2015-07-24 10:09] #1613 closed

[2015-07-24 10:10] #1517 closed

[2015-07-24 10:10] #1446 closed

[2015-07-24 10:10] DeepDiver1975 commented on #1446
appears to be fixed

[2015-07-24 10:10] DeepDiver1975 commented on #1488
Please reopen in activity repo is still valid - THX

[2015-07-24 10:10] #1488 closed

[2015-07-24 10:12] DeepDiver1975 commented on #1413
Please reopen in core repo is still valid - THX

[2015-07-24 10:12] #1413 closed

[2015-07-24 10:12] #1412 closed

[2015-07-24 10:12] DeepDiver1975 commented on #1412
I believe this is fixed - if not please get in touch with the devs of files_tree

[2015-07-24 10:12] #1357 closed

[2015-07-24 10:13] DeepDiver1975 commented on #1379
Please reopen in activity repo is still valid - THX

[2015-07-24 10:13] #1379 closed

[2015-07-24 10:13] #862 closed

[2015-07-24 10:15] #685 closed

[2015-07-24 10:18] DeepDiver1975 commented on #82
Please reopen in gallery(plus) repo is still valid - THX

[2015-07-24 10:18] #82 closed

[2015-07-24 10:18] DeepDiver1975 commented on #37
Please reopen in calendar repo is still valid - THX

[2015-07-24 10:18] #37 closed

[2015-07-24 10:19] DeepDiver1975 commented on #36
Please reopen in calendar repo is still valid - THX

[2015-07-24 10:19] #36 closed

[2015-07-24 10:19] DeepDiver1975 commented on #33
Please reopen in calendar repo is still valid - THX

[2015-07-24 10:19] #33 closed

[2015-07-24 10:19] DeepDiver1975 commented on #32
Please reopen in calendar repo is still valid - THX

[2015-07-24 10:19] #32 closed

[2015-07-24 10:19] DeepDiver1975 commented on #30
Please reopen in calendar repo is still valid - THX

[2015-07-24 10:19] #30 closed

[2015-07-24 10:20] DeepDiver1975 commented on #28
Please reopen in calendar repo is still valid - THX

[2015-07-24 10:20] #28 closed

[2015-07-24 10:21] DeepDiver1975 commented on #34
Please reopen in calendar repo is still valid - THX

[2015-07-24 10:21] #34 closed

[2015-07-24 10:21] DeepDiver1975 commented on #394
Please reopen in gallery repo is still valid - THX

[2015-07-24 10:21] #394 closed

[2015-07-24 10:21] #1593 closed

[2015-07-24 10:21] DeepDiver1975 commented on #1509
Please reopen in gallery repo is still valid - THX

[2015-07-24 10:21] #1509 closed

[2015-07-24 10:22] DeepDiver1975 commented on #503
Please reopen in gallery repo is still valid - THX

[2015-07-24 10:22] #503 closed

[2015-07-24 10:22] #1671 closed

[2015-07-24 10:25] DeepDiver1975 commented on #491
Please reopen in calendar repo is still valid - THX

[2015-07-24 10:25] #491 closed

[2015-07-24 10:25] DeepDiver1975 commented on #373
Please reopen in gallery repo is still valid - THX

[2015-07-24 10:25] #373 closed

[2015-07-24 10:25] DeepDiver1975 commented on #529
Please reopen in gallery repo is still valid - THX

[2015-07-24 10:25] #529 closed

[2015-07-24 10:25] DeepDiver1975 commented on #474
Please reopen in calendar repo is still valid - THX

[2015-07-24 10:25] #474 closed

[2015-07-24 10:26] #654 closed

[2015-07-24 10:26] DeepDiver1975 commented on #633
Please reopen in calendar repo is still valid - THX

[2015-07-24 10:26] #633 closed

[2015-07-24 10:33] mbiebl commented on #1509
still valid, as a simple test shows

[2015-07-24 10:43] stefan-niedermann commented on #1593
hm @DeepDiver1975 this issue was about the default included gallery app - why closing it? will this feature never be implemented?
even youtube uses the fullscreen mode.

Pressing F11 !== fullscreen for gallery picture
Pressing F11 === fullscreen for *browser*, that's a difference.

[2015-07-24 12:30] crysman commented on #302
Hello, please, how to make a newly created user automatically assigned to a group (already existing group)?

I am trying to figure it out myself, but no luck :/ and this thread seems to be a right one to ask.

I need something like

           if ! (userExists($uid)) {
               addToGroup($uid, "myfavouritegroupname");
           }

But I do not know the names and parameters of real function

[2015-07-24 12:44] jancborchardt commented on #394
This is in place in Gallery+

[2015-07-24 12:44] jancborchardt commented on #503
This is in place in Gallery+ although it could get some improvements by using EXIF dates.

[2015-07-24 12:45] jancborchardt commented on #529
Not relevant anymore since Gallery is the more fitting name as we want it to handle videos as well.

[2015-07-24 12:45] jancborchardt commented on #1593
@stefan-niedermann if it’s still relevant, please open it in the correct repository (of the Gallery app).

[2015-07-24 12:46] blizzz commented on #599
Please use TLS, as everywhere where you send passwords around.

@LukasReschke do you see a problem here?

[2015-07-24 12:47] blizzz commented on #599
Btw, the right place to report LDAP issues is the core repository: https://github.com/owncloud/core/

[2015-07-24 12:51] stefan-niedermann commented on #1593
Please. The third time i open this issue.
https://github.com/owncloud/gallery/issues/210

[2015-07-24 13:32] blizzz commented on #313
Is this still valid?

[2015-07-24 13:33] blizzz commented on #1185
There were some compatibility fixes here: https://github.com/owncloud/core/pull/7823

If there are still issues, pleaes report in core repository: https://github.com/owncloud/core/issues

[2015-07-24 13:33] #1185 closed

[2015-07-24 13:37] blizzz commented on #1377
@VicDeo seems like this is still an issue here https://github.com/owncloud/files_antivirus/blob/908e27ff82b3af766559c51cf8ff59bd5efa0c63/lib/notification.php#L28

[2015-07-24 13:48] blizzz commented on #1316
This should work at least since OC 7 (just by looking at the code). Please reopen if it does not.

[2015-07-24 13:48] #1316 closed

[2015-07-25 11:46] werthersd opened #2090 "Update 7.0.2 > 8.0.4"
I tried to update owncloud using the automatic way and got these error warnings:

Error 	PHP 	Method OC_L10N_String::__toString() must not throw an exception at /homepages/4/d516943181/htdocs/owncloud/lib/private/defaults.php#0 	2015-07-25T11:32:59+00:00
Fatal 	index 	Doctrine\DBAL\DBALException: An exception occurred while executing 'SELECT `configvalue`, `appid` FROM `oc_appconfig` WHERE `config

[2015-07-25 16:43] mmccarn commented on #302
Here are the relevent bits of the code I'm using.

Your code seems to be saying "if the user does not exist then add him/her to "myfavoritegroupname".  You need to create the user before you add them to the group.

My code runs 'createGroup' before running 'addToGroup'; my guess is that I stole this construction from another authenticator.

[code]

[2015-07-25 16:59] karlitschek commented on #2090
The message 'mysql has gone away' means that your mysql deamon was stopped or has crashed. Nothing we can do in ownCloud

[2015-07-25 16:59] #2090 closed

[2015-07-27 06:19] MorrisJobke commented on #313
In the new music app ampache passwords are completely unrelated to the user password and can be generated.

[2015-07-27 06:43] blackm commented on #313
I have no time to test but would consider the issue to be solved...based on what MorrisJobke wrote.

Closing the issue is fine for me.

[2015-07-27 07:04] #313 closed

[2015-07-27 13:17] VicDeo commented on #1671
- [x] Ability to call external virus scan apps We need a way to specify custom command and command line options and return codes so that we can integrate other virus scanners then clamav
_Technically possible right now. But I have no idea what  other scanners are available_

- [x] Optionally show a warning in the Webinterface and in the Activity app if a virus is found.
_Done_

- [ ] Optionally ad

[2015-07-27 14:07] crysman commented on #302
I am not creating any user, I am using IMAP authentication ("user_external") plugin... There is this line in the plugin source:

    $this->storeUser($uid);

but I do not know what storeUser() function does.

What I do **need is the userExists()** function - any available?

[2015-07-27 14:09] crysman commented on #302
I may add a user to a group via

    OC_Group::addToGroup($uid, "myfavouritegroup");

Is that correct?

[2015-07-27 16:27] werthersd commented on #2090
Neu aufsetzen, oder?

[2015-07-28 17:48] RealRancor commented on #2090
@werthersd Sometimes its enough to raise the MySQL timeouts like described here:

https://doc.owncloud.org/server/8.0/admin_manual/issues/index.html#common-problems-error-messages

[2015-07-30 09:10] PVince81 commented on #2087
Another idea is to switch the video viewer to use the Webdav endpoint, which is based on SabreDAV which, AFAIK, supports fseek when range requests are required.

Note that X-Sendfile cannot work with encryption and external storage.

[2015-07-30 09:22] PVince81 commented on #2058
Are you still seeing such issues with 8.0.5 ?

[2015-07-30 09:24] PVince81 commented on #2050
What response are you getting ?

What is the value of $url, does it correctly point to "remote.php/webdav/" ?

[2015-07-30 09:25] PVince81 commented on #2033
@iakiakiak please double check that the ownCloud source code was properly updated.
This class "OC_Filestorage_Dropbox" is extremely old (maybe pre-OC4) and didn't exist since a long time.
Maybe also check "mount.json" in the data folder and see whether this class name is set there.

[2015-07-30 09:26] PVince81 commented on #2033
what I mean is that when you updated the source code, you need to delete the old PHP code first before extracting the tarball. Don't just extract the new tarball over the old code. (in case you did that)

[2015-07-30 09:27] PVince81 commented on #2006
Closing as duplicate.
Please follow up in https://github.com/owncloud/core/issues/12725

[2015-07-30 09:27] #2006 closed

[2015-07-30 09:28] PVince81 commented on #2004
See above.

[2015-07-30 09:28] #2004 closed

[2015-07-30 09:38] PVince81 commented on #1996
Please reopen in the client repository as this is about client behavior on errors.
Thanks.

[2015-07-30 09:38] #1996 closed

[2015-07-30 09:39] PVince81 commented on #1976
Did you have any more luck with 7.0.7 or newer versions ?

[2015-07-30 09:47] PVince81 commented on #1901
@VicDeo is this issue still valid ?

[2015-07-30 09:48] PVince81 commented on #1873
Are you guys still having issues with 7.0.7 or 8.0.5 ?

[2015-07-30 09:49] PVince81 commented on #1829
Did you have any more luck with 6.0.9, 7.0.7 or more recent versions ?

Please note that starting with OC 8.1 Windows servers will not be supported any more.

[2015-07-30 09:49] PVince81 commented on #1812
Duplicate of https://github.com/owncloud/core/issues/10139

[2015-07-30 09:49] #1812 closed

[2015-07-30 09:50] PVince81 commented on #1798
Are you still seeing this issue with 7.0.7 or 8.0.5 ?

[2015-07-30 09:50] PVince81 commented on #1715
Closing due to lack of feedback.

Please try again with 7.0.7 or 8.0.5

[2015-07-30 09:50] #1715 closed

[2015-07-30 09:51] PVince81 commented on #1675
There is no problem, it's a bogus log entry that is irrelevant and has been removed in more recent versions.
Please upgrade.

[2015-07-30 09:51] #1675 closed

[2015-07-30 10:01] PVince81 commented on #1599
Duplicate of https://github.com/owncloud/core/issues/13158

[2015-07-30 10:01] #1599 closed

[2015-07-30 10:04] PVince81 commented on #1594
Closing due to lack of activity.
Please try again with 7.0.7 or 8.0.5. Many encryption issues were fixed since.

[2015-07-30 10:04] #1594 closed

[2015-07-30 10:05] PVince81 commented on #1588
Please try again with 6.0.9 or 7.0.7. Many activity issues have been fixed already.

If you still see the issue, please raise it in the owncloud/activity repository.
Thanks.

[2015-07-30 10:05] #1588 closed

[2015-07-30 10:07] PVince81 commented on #1577
Looks like this app was removed and unmaintained. Note that the app was likely to be using hacks to enhance the UI, which are not guaranteed to work in future versions of OC.
Closing.

[2015-07-30 10:07] #1577 closed

[2015-07-30 10:07] PVince81 commented on #1574
See above. Closing.

[2015-07-30 10:07] #1574 closed

[2015-07-30 10:12] PVince81 commented on #1569
Any more luck with 6.0.9 or 7.0.7 ?

[2015-07-30 10:12] PVince81 commented on #1513
Are you still seeing this in 7.0.7 or 8.0.5 ?

[2015-07-30 10:12] PVince81 commented on #1512
Are you still seeing this in 7.0.7 or 8.0.5 ?

[2015-07-30 10:13] PVince81 commented on #1489
Please try again with 7.0.7 or 8.0.5. The gallery app was optimized a bit for that amount of pics.

[2015-07-30 10:13] #1489 closed

[2015-07-30 10:14] PVince81 commented on #1456
Are you still seeing this on 7.0.7 or 8.0.5 ?

[2015-07-30 10:15] PVince81 commented on #1448
@SergioBertolinSG @jvillafanez mind verifying whether this still happens on OC 8 ?
Also might want to add this to the test plans.

[2015-07-30 10:16] PVince81 commented on #1444
Closing as duplicate.
Also OC 5 is end of life. Please upgrade.

[2015-07-30 10:16] #1444 closed

[2015-07-30 10:23] PVince81 commented on #1430
Layout has changed a lot since @nickvergessen worked on the app.
Closing.

[2015-07-30 10:23] #1430 closed

[2015-07-30 10:24] PVince81 commented on #1425
Closing as duplicate of the "file viewer API" ticket: https://github.com/owncloud/core/issues/13414

[2015-07-30 10:24] #1425 closed

[2015-07-30 10:25] PVince81 commented on #1390
@MorrisJobke obsolete ?

[2015-07-30 10:26] PVince81 commented on #1383
Please try again with 8.0.5.
Also the galleryplus app might fix the scalability issue too. CC @oparoz

[2015-07-30 10:26] #1383 closed

[2015-07-30 10:28] PVince81 commented on #1315
@MorrisJobke obsolete ?

[2015-07-30 10:28] PVince81 commented on #1295
Please try again with OC 8.0.5.

[2015-07-30 10:28] #1295 closed

[2015-07-30 11:18] oparoz commented on #1383
@gwolf - Gallery+ (for 8.0 and 8.1) is here: https://apps.owncloud.com/content/show.php/Gallery?content=169116.

Don't hesitate to report problems here: https://github.com/owncloud/gallery/issues

[2015-07-30 11:51] Luticus commented on #2058
I did have the issue with 8.0.4, have not gotten any upgrade message for 8.0.5 and will likely go straight to 8.1 soon.

[2015-07-30 13:03] jvillafanez commented on #1448
Checked with linux desktop 1.8.3rc3 and OC 8.1.0: The error message is properly forwarded to the client and shown in the activity. The client doesn't delete the file and seems stuck in the "syncing" state. I don't think the client tries to reupload the file, even if files are created or deleted in the folder.

Other than the icon, I think this issue can be closed

[2015-07-30 13:34] mokkin commented on #1798
Actually I'm using 8.1 so I cannot test it with the given versions.

[2015-07-30 13:55] stefan-niedermann commented on #1574
update: look here: https://github.com/owncloud/chat/

[2015-07-30 14:32] MorrisJobke commented on #1390
I didn't have seen this with the new ampache API.

[2015-07-30 14:32] #1390 closed

[2015-07-30 14:33] MorrisJobke commented on #1315
Yes. Is now at 50 files at once.

[2015-07-30 14:33] #1315 closed

[2015-07-31 21:37] GreatEmerald commented on #790
So are there plans to include the updated app into the base ownCloud?

[2015-07-31 22:51] oparoz commented on #790
@GreatEmerald - Yes indeed. It will be part of 8.2. You can use it now for 8.1 and 8.0 if you install Gallery from the Multimedia section.

[2015-08-03 09:40] crysman commented on #2088
Please, any help here? I just need information, no coding at all...

What I need is simple:
1) **userExists()** function - is there any? What is it's name?
2) **addToGroup()** function - There is obvously some. Just how to use it correctly to assign the current uid to "myfavourite" group.

I will highly appreciate help. I've already tried forum - no result. I've tried devel mailing list - no resul

[2015-08-03 10:11] MorrisJobke commented on #2088
1)

[code]

2)

[code]

[2015-08-03 10:11] #2088 closed

[2015-08-03 11:21] crysman commented on #2088
seems to work perfectly, many thanks, Morris!

[2015-08-04 08:20] fossxplorer opened #2094 "files_archive blocks archive files deletion"
## Steps to reproduce
  1. Enable files_archive
  2. upload an archive file, e.g a zip file
  3. Notice the size being reported as "pending" and "No permission to delete" when hovering over delete (trashbin) button. Also the folder icon is used and not archive one.
  4 Reload the page and everything looks normal but trying to delete the newly uploaded zip file gives "Could not delete: myfile.zip"

[2015-08-05 12:43] cdamken commented on #54
I think this is solved, reopen if needed.

[2015-08-05 12:43] #54 closed

[2015-08-07 12:37] nIQnutn opened #2095 "[External Sites] update pb with custom icons"
when adding custom icons in **img** folder, upgrading results in internal server error.
images are not found, I have too add images each times.

Is there a better way to add custom icons ?

[2015-08-07 12:53] karlitschek commented on #2095
I suggest to ask this question on the devel mailinglist :-)

[2015-08-07 12:53] #2095 closed

[2015-08-12 12:02] tritumrb commented on #1095
+1 That would be great! Loading images in full size is a huge waste of traffic

[2015-08-13 10:09] jancborchardt opened #2096 "Move the 3 shipped apps still left here out into own repositories"
This repo is very inactive: https://github.com/owncloud/apps/pulse/monthly and at the same time so messy https://github.com/owncloud/apps/graphs/contributors that you don’t know who works on what.

To keep up better with issues and pull requests to shipped/official apps and to quickly see who contributed to them (to be able to @-mention them on pull requests for example), we should move these out

[2015-08-15 17:19] Bugsbane commented on #1865
Still having this issue. I've had it from the first release of ownCloud, all the way up to 8.1.1 today.

[2015-08-15 17:30] Bugsbane commented on #2087
I'm one of the people who's always had virtually no video playback. That said, I'm using Nginx, which from that documentation, is supposed to have Nginx's equivalent activated by default.

[2015-08-16 20:08] PaulAnnekov commented on #2087
I have wasted a lot amount of my time to understand this bug and even created the question on [SO](http://stackoverflow.com/q/31999168/782599).
I have nginx + php5fpm and this article in docs helped me to solve the problem: [Serving Static Files for Better Performance](https://doc.owncloud.org/server/8.1/admin_manual/configuration_files/serving_static_files_configuration.html).
But it was not so e

[2015-08-16 22:41] Bugsbane commented on #2087
@PaulAnnekov - So, Paul, you're saying that you implemented the Nginx (X-Accel-Redirect) section of those docs (either Method 1 or Method 2) and that got video to play on your ownCloud install?

I'm curious, as I have a similar setup wo you and have never managed to get video to work right, which hurts, given that my main usecase is sharing photos and videos with family.

[2015-08-17 05:41] PaulAnnekov commented on #2087
@Bugsbane

Yes.

The same for me.

There was 2 main issues:
1. PHP was sending static files. It does not support `Range` requests so videos were not streaming. I have fixed it by enabling `X-Accel-Redirect` feature and now nginx sends static files. I can show you my nginx config if you want.
2. moov Atom was at the end of some mp4 (avc+aac) videos. So in Chrome this video was not seekable. You can

[2015-08-17 09:00] J-Silverbee opened #2097 "Import of tasks to database fails when there is an emoij in the file"
I tried to upload an .ics file to my owncloud 8.1. It imports everything. But the wirte to the database is broken when there is an emoij in the TODO-item.

For example this text
"aaike\n\n\n\nPs. Reviews volgen nog! 😃\n\n\n\nVerstuurd vanaf mijn iPhone"

becomes

"aaike\n\n\n\nPs. Reviews volgen nog!"

in the database. Everything behind the emoij gets lost and the task+-app get stuck with this err

[2015-08-19 09:59] Bugsbane commented on #2087
If you wouldn't mind, of appreciate it. I'm still somewhat new to NGINX and learning the ropes re configuring things.

Thanks!

[2015-08-19 18:15] PaulAnnekov commented on #2087
@Bugsbane,

[code]

[2015-08-21 13:20] jamesmstone commented on #2079
@oquidave  any luck? I think I'm trying to do the exact same thing as you

[2015-08-23 17:49] binron commented on #1935
Could be the same problem as in #1896

[2015-08-25 10:44] mmccarn commented on #2086
IMAP auth is working reliably for me.

You have these apps installed that I do not:
- calendar
- contacts
- documents
- tasks
- mail (disabled)
- updater (disabled)
(and I have files_mv, which you do not - but that is a late addition...)

Here is my app:list for comparison:
[code]

[2015-08-25 13:57] tgrondin commented on #2086
Hello,

The issue appears to be triggered by using a dynamic PHP-FPM configuration. It does not occur when using a static configuration. I have included both types of configuration below for reference.

PHP-FPM DYNAMIC
pm = dynamic
pm.max_children = 10
pm.start_servers = 2
pm.min_spare_servers = 2
pm.max_spare_servers = 4
pm.max_requests = 15000
pm.process_idle_timeout = 10s
request_terminate_time

[2015-08-26 21:50] imasen commented on #56
What about this feature?

It would be great to see this.

[2015-08-28 09:57] flotho opened #2099 "Unique key violation in full text search"
Hi folks,

I'm running on centos 7 and OC 8.1, in the log this error appears :
[code]
What it could be the cause? How can I correct this?

regards

[2015-08-28 10:43] MorrisJobke commented on #2099
cc @butonic

[2015-08-28 11:10] flotho commented on #2099
thanks the community for your reaction

[2015-08-28 15:26] VicDeo commented on #2099
@flotho please reopen in https://github.com/owncloud/search_lucene/issues/new

[2015-08-28 15:26] #2099 closed

[2015-08-30 13:15] RealRancor commented on #2097
Hi,

i think the apps issue tracker is the wrong place for this. If you think this is an issue within oC itself then you might want to re-open in by using the issue template (https://raw.githubusercontent.com/owncloud/core/master/issue_template.md):

https://github.com/owncloud/core/issues

If you think its an issue within the Calendar App (AFAIK this handles also Tasks) re-open in:

https://githu

[2015-08-30 13:18] RealRancor commented on #2097
Ref for an existing issue in the calendar tracker: https://github.com/owncloud/calendar/issues/909

Might be related to https://github.com/owncloud/core/issues/4513

[2015-09-01 07:13] timboven opened #2100 "LDAP authentication fails if using AD as backend"
I was unable to connect to my owncloud instance with my active directory account.
I was able to fix this by changing the file user_ldap.php - method checkPassword.
I replaced the line `$users = $this->access->fetchUsersByLoginName($uid, $attrs);` (4th line in the method) with:
[code]

[2015-09-01 08:14] karlitschek commented on #2100
@blizzz any idea?

[2015-09-01 09:38] blizzz commented on #2100
@timboven please fill out the issue template and report any error messages that occur: https://raw.githubusercontent.com/owncloud/core/master/issue_template.md

Your first line does not have any effect, because $filter is overwritten in your second line. Then, everything else happens just the same is in the method in Access (https://github.com/owncloud/core/blob/master/apps/user_ldap/lib/access.ph

[2015-09-01 09:39] blizzz commented on #2100
@timboven oh, and please reopen the issue with the missing information in the core repository. Thank you! https://github.com/owncloud/core

[2015-09-01 09:39] #2100 closed

[2015-09-01 11:01] timboven commented on #2100
1) Correct the the first line doesn't have any effect - was one of my earlier attempts while checking the issue - didn't cleanup correctly
2) my login name is just 'tboven' - so a plain simple userid
3) Why open an issue against core while it seems to be caused by an app here?

[2015-09-01 11:50] blizzz commented on #2100
Then it should work just as fine without your change.

Because the LDAP backend resides in core.

[2015-09-01 14:59] timboven commented on #2100
I've tested it multiple times and it never succeeded - the uid-parameter was never replaced.

I was not aware that the LDAP backend was in core while this was here - will create the ticket then on the correct place later today - thanks for pointing me in the correct direction.

[2015-09-03 17:45] VicDeo commented on #1901
Closing. As I wrote above we don't ship files_antivirus with OC7.

[2015-09-03 17:45] #1901 closed

[2015-09-04 08:31] kugel- commented on #1992
Bump!

[2015-09-05 21:01] despens commented on #611
Have the same problem ownCloud 7.0.4 (stable)

[2015-09-08 11:18] Hans-Maulwurf opened #2101 "user_saml"
I'm trying to get oc7 or oc8 working with user_saml. I set up two instances of simpleSAMLPhp (one IdP and one SP), the test works fine. But when i enable and config the user_saml app, i only get error nostate. I tried the workaround with the cookiename, but it didn't help. Is user_saml working with oc version > 6 at all?

thanks for ur help

[2015-09-09 19:46] RealRancor commented on #2100
@timboven If unsure where an app belongs to have a look at the folder structore on github like:

https://github.com/owncloud/apps

and:

https://github.com/owncloud/core/tree/master/apps

user_ldap which is the ldap backend is located in core for example:

https://github.com/owncloud/core/tree/master/apps/user_ldap

[2015-09-10 14:10] fcturner commented on #356
For anyone who still wants this app, use **ownCloud Passwords** (for ownCloud 8 and later and still provides updates). Primarily intended as a safe solution for storing passwords on your own server:
https://github.com/fcturner/passwords
https://apps.owncloud.com/content/show.php/Passwords?content=170480

[Passman 1.3.30](https://apps.owncloud.com/content/show.php/Passman?content=166285) only works

[2015-09-11 20:09] backandforth opened #2102 "Files App Fails to Show Content when Gallery App and Picture App are both installed."
###Solved behaviour
Files App and other apps such as gallery allow viewing and modifications of saved content.

### Actual behaviour
Both apps showing no viewing or modifiable content (no directories, files, button to add directory). The options on the side bar were showing.

### Solution
Do not enable both Gallery and Picture app

### Server configuration
Ubuntu 15.04

**Web server:**
Apache 2.4.

[2015-09-12 13:26] RealRancor commented on #2102
Hi,

don't think that anyone will note this in here. The "Pictures" app is deprecated and will be replaced with the new "Gallery" app soon. Both also have their issue tracker here:

https://github.com/owncloud/gallery/issues

Normally the newer "Gallery" app should disable the "Pictures" app when enabled according to https://github.com/owncloud/gallery/issues/181#issuecomment-114142461

cc @oparoz

[2015-09-13 02:09] Serotonin7 commented on #2079
Me three. I just began trying to make s3 my own cloud primary storage. Any of you two have any leads on the topic?

[2015-09-13 06:57] dbeniamine opened #2103 "Shared file scanning: File does not exists"
Hello,

I use clam 0.98.7 in socket mode with ownclooud 8.1.1 and I have a weird issue:
Their is one file (file.pdf) in a shared directory (dir) from a user A to a user B that is constantly scanned in user B home by clam while it actually exists only in A's home directory ...

    {"reqId":"e7ts7fzrU2CXIvdH8E9h","remoteAddr":"","app":"files_antivirus","message":"File does not exist. File: 2023 Pat

[2015-09-13 07:33] jamesmstone commented on #2079
Unfortunately @Serotonin7  I don't think it's possible with the community edition.  Would love to be proven wrong though?

[2015-09-13 15:22] RealRancor commented on #2103
Hi,

isn't this more something for the issue tracker of files_antivirus? https://github.com/owncloud/files_antivirus/issues

[2015-09-14 07:36] dbeniamine commented on #2103
Yes sorry, I thought that I was posting it there, I must have done some mess with my firefox tabs ...

[2015-09-14 12:04] oparoz commented on #2102
@RealRancor is correct, Gallery+ (14+) should print a message if Pictures is still enabled.
@backandforth, please re-open [here](https://github.com/interfasys/galleryplus/issues) if that's not the case, once I release v14

[2015-09-14 12:04] #2102 closed

[2015-09-17 13:37] oparoz commented on #2087
@PVince81 is correct. `Range` seeking is disabled in Files and for text previews we had to switch to the WebDav endpoint. The same thing should be done for videos.

[2015-09-17 14:05] freechelmi commented on #2064
Actually on my oc 8.1

For a shared video ( no media element just browser HTML5 control :
- it works great on Firefox 40 here
- it still does not work on chromium 47

For a displayed video ( media element)
- it works great on Firefox 40 here
- it still does not work on chromium 47

[2015-09-19 09:32] pank opened #2104 "Display "readme file" in shared folder"
Hi,

In a shared owncloud folder, I would like to have the README file displayed at the bottom.

One thing I found myself do fairly often is to share a picture folder via email, and explaining some pictures in the email body.  It would be nice to keep some notes with the pictures in `readme.md` or `readme.org` or `README` to make the folder more 'self-containing' at later visits.

What I have got

[2015-09-19 09:38] Hideio opened #2105 "Somebody spam the app section"
hundreds of new entries
https://apps.owncloud.com/
![owncloud applications - apps owncloud com](https://cloud.githubusercontent.com/assets/14086435/9975635/f2568556-5ec2-11e5-9306-5c01f09bbe80.png)

![owncloud applications - apps owncloud com 1](https://cloud.githubusercontent.com/assets/14086435/9975645/4b10988a-5ec3-11e5-8c24-966f1eee5200.png)

[2015-09-19 10:52] karlitschek commented on #2105
deleted

[2015-09-19 10:52] #2105 closed

[2015-09-20 21:04] RealRancor commented on #2103
@dbeniamine Yes, i think you can close this one.

[2015-09-20 21:47] #2103 closed

[2015-09-22 07:09] jameslbrown commented on #1976
Seems to be working in version 8. Thanks.

[2015-09-22 08:05] #1976 closed

[2015-09-24 16:15] crysman opened #2107 "login IMAP authentication, default quota, auto add to group"
I've been pointed here from https://forum.owncloud.org/viewtopic.php?f=31&t=30651#p97503 so I do so.

The problem:
I have some problems with my owncloud settings related to IMAP authentication.

1. setting *default quota does not work* - when I login to cloud as admin, in the users, there is "default" instead of "333 MB"
2. setting *default group does not work* - user appears with no group members

[2015-09-25 13:28] mesiah70 opened #2108 "Update Error to Version 8.1.3.0"
I get the following Error, when I try to update the bitnami owncloud to Version 8.1.3.0
I've followed the instruction here and set the correct permissions:

https://wiki.bitnami.com/Applications/BitNami_ownCloud#How_to_upgrade_ownCloud.3f

Error code is:

/mnt/disk/data/updater_backup/8.1.3.0.zip extraction error.

[2015-09-28 08:43] francwalter commented on #1435
So which format do I need to play videos in owncloud?
Still mp4 not working it seems :(

[2015-09-28 09:05] HLFH commented on #1435
@francwalter To play every video format on ownCloud, you could disable the video plugin you are using and use instead [this plugin](https://apps.owncloud.com/content/show.php/Embedded+Videostream+++0.0.7?content=169002) + VLC Web Plugin [for OS X](https://www.videolan.org/vlc/download-macosx.fr.html) or [for Windows](https://www.videolan.org/vlc/download-windows.fr.html) + [Firefox](https://www.mo

[2015-09-28 11:04] francwalter commented on #1435
Thank you very much, but it is not the issue on my computer but on some users computers, I need the video to play just on most configurations.
Now I discovered the encoder  [MiroVideoConverter](http://www.mirovideoconverter.com/) which is opensource and can convert to webm format. This format is playing in all new browsers, I guess.
Thank anyway!!!

[2015-09-28 11:16] HLFH commented on #1435
As said [on Wikipedia](https://en.wikipedia.org/wiki/Miro_(software)) and other places, Miro is crap!!!

IMHO, on Windows, this real free software is better: https://gitgud.io/nixx/WebMConverter.
And there are other tools listed there like the Adobe Premiere plug-in: http://www.webmproject.org/tools/

If you are using Miro, you should consider install then [AdwCleaner](https://toolslib.net/downloa

[2015-09-30 21:34] francwalter commented on #1435
Oh no! Damn!
So the warning in Firefox was right.
I installed it on Mac OS 10.10
Is there malware as well?

[2015-09-30 22:07] HLFH commented on #1435
@francwalter No malware. With Miro, you could only get crapware and adware.

0) You could check the plugins of every browses you are using on your iMac (Chrome, Safari, ...), and verify if there isn't a bad plugin.

1) If there is a Miro application in the Applications folder, you could remove it easily with [AppCleaner](http://www.freemacsoft.net/appcleaner/).

1) Use [Malwarebytes Anti-Malware f

[2015-10-01 15:56] gwolf commented on #1383
Thanks - I have to get some time in my hands to upgrade my server and test; meanwhile, I'll gladly accept this to be marked as "closed". Will reopen in the unlikely case it's needed.

[2015-10-02 09:17] smatthie opened #2109 "App request: Time tracker"
I want to request a time tracking application.

# Summary and motivation#

The app allows you to start and stop a timer when you work on a project, and record the time accordingly, so that you can later get a summary how much time you have spend on different projects. Freelancers (for example) need to keep track of how much time they spend on different projects (so that they can bill customers for

[2015-10-02 10:25] crysman commented on #2107
Please, before considering it as "Enhancement" for developers, any hints how could I make it work myself? Why the trivial setting default quota and group does not work? Wrong variables? Wrong syntax? I do not get it... Thanks a lot.

[2015-10-02 11:03] RealRancor commented on #2107
Hi,

if you want to implement this yourself its probably better to ask for help at the developers mailinglist:

https://mailman.owncloud.org/mailman/listinfo/devel

or the IRC channel #owncloud-dev on freenode as written in your forums post.

[2015-10-02 11:48] karlitschek commented on #2109
good idea. hopefully someone finds the time to implement this

[2015-10-02 11:57] smatthie commented on #2109
I put a bounty on it, as was suggested on the forum: https://www.bountysource.com/teams/owncloud/issues?tracker_ids=216441

I'm really keen to have it for my freelance work (and was happy to pay for such a service in the past, so I'm also happy to pay a bounty), but I don't know enough about the app framework in OC  to get started and don't have time to learn it right now, so I hope this encourage

[2015-10-02 12:08] karlitschek commented on #2109
Sure. Not every contribution to ownCloud is driven by money/bounty. So let's see if someone wants to do this.
Or does one of you volunteer to do it? :-)

[2015-10-02 12:20] smatthie commented on #2109
Of course I don't want to imply developers are driven by money. It's amazing how OC has developed, and I'm a total fan of free and open software (and try to contribute my time when I can).

[2015-10-06 16:10] #891 closed

[2015-10-07 07:25] RealRancor commented on #2087
FYI, sendfile was removed in oC8.2 https://github.com/owncloud/core/pull/18881 as discussed in https://github.com/owncloud/core/issues/18870

[2015-10-07 07:55] PaulAnnekov commented on #2087
@RealRancor so video seeking will not work any more?

[2015-10-07 07:57] RealRancor commented on #2087
Sorry, no idea. That is something you need to find out.

[2015-10-07 08:11] PVince81 commented on #2087
To make video seeking work, the video viewer(s) need to use the Webdav endpoint which already supports range requests.

[2015-10-07 13:27] #2054 closed

[2015-10-07 18:05] Bugsbane commented on #2087
And are there any video viewer apps that use Webdav endpoint? Would they still require the X-Accel-Redirect modifications to nginx's configuration?

This issue is a blocker for one of my main use cases with ownCloud (sharing personal videos with non technical friends and family who expect to be able to just press play on videos and have it "just work"), so I would be thrilled if there was an app (

[2015-10-07 18:51] PaulAnnekov commented on #2087
@Bugsbane the same use case for my cloud... I will not update to 8.2 until seeking will work.

[2015-10-08 05:54] Bugsbane commented on #2087
@PaulAnnekov - Not sure that holding on to 8. really helps. I've had this issue since the first release of ownCloud, right up to my current 8.1.3 install. Seems that the real fix will be either nginx config and/or a better app that uses webdav endpoints.

[2015-10-08 08:18] PVince81 commented on #2087
@VicDeo how difficult would it be to make the video viewer use the Webdav endpoint ?
Here you can see how the text preview does it for text files in public link mode: https://github.com/owncloud/core/blob/v8.2RC1/apps/files_sharing/js/public.js#L116

[2015-10-08 08:18] PVince81 commented on #2087
it wouldn't require x-sendfile. SabreDAV uses `fseek` on the original to find ranges.

[2015-10-08 08:47] PVince81 commented on #2087
you can try changing this line's value here: https://github.com/owncloud/apps/blob/master/files_videoviewer/js/viewer.js#L57 to something like OC.linkToRemote('webdav') + OC.joinPaths(viewer.dir + file)

That would be for the non-public link mode.
In public link mode the URL would be like this one https://github.com/owncloud/core/blob/v8.2RC1/apps/files_sharing/js/public.js#L116 and you need to se

[2015-10-09 15:03] VicDeo commented on #2087
I don't know how to send custom header with mediaelementjs and doubt it is possible.
See https://github.com/owncloud/apps/issues/2111 which works for logged in users

[2015-10-13 18:41] crysman commented on #2107
OK, I've just asked on devel mailing list, let's hope they will not redirect me again to some other site/resource.

If I come up to the solution, I will public it here (if somebody else doesn't make it here right ahead :)

[2015-10-14 06:49] nickvergessen opened #2112 "Update the env.global.CORE_BRANCH setting in .travis.yml"
- [x] apps: No tests
- [x] activity: https://github.com/owncloud/activity/pull/415
- [x] bookmarks: https://github.com/owncloud/bookmarks/pull/161
- [x] calendar: No `.travis.yml`
- [x] chat: No stable8.1
- [x] contacts: https://github.com/owncloud/contacts/pull/1062
- [x] documents: https://github.com/owncloud/documents/pull/557
- [x] files_antivirus: https://github.com/owncloud/files_antivirus/p

[2015-10-14 08:03] MorrisJobke commented on #2112
All merged

[2015-10-14 08:03] #2112 closed

[2015-10-15 17:24] fluancefg commented on #1798
I havent't migrated the owncloud instance yet, I'll do so in the forthcoming days and I'll give you a feedback.

[2015-10-19 09:15] PatelParas commented on #1896
@nsatohiro this one is my comment :
https://apps.owncloud.com/content/show.php/Video+Player?content=155546
tell me if any thing i can help. i use this pecl_http patch for video playing since 1.5 year it works fine.
but issue is only big size file takes long time to buffer becoz above mentioned reason.

[2015-10-19 15:53] outscale-jju commented on #126
That's a great news, thanks for your work !
I hope you (or someone else) will continue to develop / maintain this app :)

[2015-10-20 00:29] PatelParas commented on #2079
hi guys we use Amazon S3 protocol based LeoFS as primary storage and use owncloud it. you need some replacement but not difficult. we are using since last 1.5 year.

[2015-10-20 03:27] jamesmstone commented on #2079
@PatelParas  that sounds interesting  - would you be able to provide a link on to how you implemented it? Thanks

[2015-10-21 13:47] gitmas opened #2114 "App "external""
Hi guys

Is it somehow possible, to get a dynamic Link with the $_SERVER['HTTP_HOST'] variable? The reason I need this is, that I would like to link the AWStats for each customer seperately. For every customer, we have a unique Subdomain. This would by far the best solution for us! :)
The Link would look like this: https://$_SERVER['HTTP_HOST']/awstats/awstats.pl?config=$_SERVER['HTTP_HOST']

Or o

[2015-10-21 17:42] h3ndrik opened #2115 "user_saml - public links no longer working"
sharing via link (public/anonymous) does not work when user_saml is enabled
every shared link redirects to the login page instead of showing any content.
not sure how to fix this

[2015-10-21 17:54] szabogyula commented on #2115
I think, if you don't force the user_sam login, the share links is working again. You should try it.

[2015-10-24 03:03] johenkel commented on #1699
@VicDeo I am not sure why this is deemed closed as I am still running into the same problem.

Trying to upgrade from 7.0.3 to 8.1.3  .
Using the above app.php did not make any difference.

What is the status on that ?

Is there a way to change the backup folder in a config setting ?

[2015-10-25 18:34] cmonteroluque commented on #2064
https://github.com/owncloud/apps/issues/2064#issuecomment-104230876

@DeepDiver1975 should this also be added to the 3rdparty list of dependencies?

[2015-10-25 19:23] karlitschek commented on #2064
@cmonteroluque Which list do you mean? Dependencies for 3rdparty apps should be in the app itself.

[2015-10-26 07:31] MorrisJobke commented on #1699
Update from 7.0.3 to 8.1.3 is not supported. Please upgrade in following way: 7.0.3 -> 8.0.8 ->8.1.3

[2015-10-26 09:52] Resquer opened #2116 "Issues with list of mixed users (local and LDAP)"
I have sucessfully upgraded from 8.1.3 to 8.2, and now I can not to see users in the "Users" panel. I have both local and LDAP users, and some of them are included in additional groups. If I choose some group directly, everything is OK, I can see users, but if I try to see ALL users, the spinner rotates continiously and never ends. In the error log I see "Error	PHP	Call to undefined method OCA\use

[2015-10-26 09:57] MorrisJobke commented on #2116
user_ldap is a core app - please open this in core: https://github.com/owncloud/core

[2015-10-26 09:57] #2116 closed

[2015-10-26 18:51] RealRancor commented on #2114
Hi,

@gitmas This doesn't looks like a bug or a feature request so i think this question is better placed at the developers mailinglist:

https://mailman.owncloud.org/mailman/listinfo/devel

[2015-10-27 07:55] MorrisJobke commented on #2114
`getAbsoluteURL` of the `IURLGenerator` interface may help here https://github.com/owncloud/core/blob/0d98e5e456ed9f5ea05a6e8213b0a71da7b84075/lib/public/iurlgenerator.php#L85-85

[2015-10-27 07:55] #2114 closed

[2015-10-28 02:05] cmonteroluque commented on #2064
@karlitschek ok, thanks

[2015-10-28 05:25] PatelParas commented on #2064
@freechelmi chrome required Partial content 206 http response. for video playing. here it returns http 200.

[2015-10-28 06:37] supportreq commented on #2087
@VicDeo this change allowed viewing videos by downloading partial content. In case I want to start viewing the video from 40min, if the file is not downloaded completed it will first complete downloading all the previous 40min and than start.. Can we do something about this?

Thank You

[2015-10-30 14:38] peterdens commented on #2076
+ 1

[2015-10-30 14:58] kurosato commented on #2076
+1

[2015-11-04 17:05] PVince81 commented on #2064
Is this a regression ? Or was it always broken in Chrome ?

CC @VicDeo with the hope for more clues :smile:

[2015-11-04 17:06] PVince81 commented on #2064
From what I remember the video player is currently using range requests, maybe the server needs to return 206 instead of 200 ? (just guessing, I haven't checked what the current behavior is)

[2015-11-04 17:23] VicDeo commented on #2064
@PVince81 Needs to be retested with https://github.com/owncloud/apps/pull/2111 applied.
DAV does return 206 for partial content https://github.com/owncloud/3rdparty/blob/master/sabre/dav/lib/DAV/CorePlugin.php#L187

[2015-11-04 23:29] dudheit314 commented on #2101
I'd like know that too. Is the app deprecated? If so, are there any plans to build an alternative?

[2015-11-05 23:14] dudheit314 commented on #2101
Some testing showed it seems to work so far in ownCloud 8, but I don't know the ``AssertionConsumerService`` value to redirect from IdP. Does anybody know it?

[2015-11-06 01:30] kebenxiaoming opened #2117 "There is something wrong when I used swift as external storage"
Recently,I use swift as external storage,it can be used normally.But something happened in owncloud.log when I upload or delete files:

{"reqId":"d60b3118a7d20f90e323463eaf1b2f49","remoteAddr":"127.0.0.1","app":"files_external","message":"Client error response\r\n[status code] 404\r\n[reason phrase] Not Found\r\n[url] http:\/\/192.168.200.188:8080\/v1\/AUTH_0fd51bb47779419e890c7320c12fbc43\/100100

[2015-11-06 01:59] karlitschek commented on #2117
Can you please reopen this issue in the core repository? thanks a lot.

[2015-11-06 01:59] #2117 closed

[2015-11-09 09:14] PVince81 commented on #2087
Backport pending: https://github.com/owncloud/apps/pull/2111
@VicDeo can you do it ?

[2015-11-09 17:16] VicDeo commented on #2087
@PVince81 8.2 already has it. Backport all the way down to stable7?

[2015-11-09 17:22] PVince81 commented on #2064
Can anyone retry in 8.2 ? The fix is already in that version.

[2015-11-09 17:50] freechelmi commented on #2064
I would say same here on upgraded 8.2 :

https://drive.ekimia.fr/index.php/s/kkOayAYa0iefgHT

But maybe something specific to my server ?

[2015-11-09 18:10] VicDeo commented on #2064
@freechelmi it's
a) not fixed for publicly shared videos
b) movie-specific (not format, but movie)

This Big Buck Bunny (mp4) is seekable for me
http://download.blender.org/peach/bigbuckbunny_movies/

[2015-11-09 18:14] VicDeo commented on #2087
stable8.1: https://github.com/owncloud/apps/pull/2118
stable8: https://github.com/owncloud/apps/pull/2119

[2015-11-10 07:49] PVince81 opened #2120 "Use public.php/webdav for public link videos"
@VicDeo as discussed

This is possible since 8.2 by using the "public.php/webdav/" endpoint.
Use the share token as user id, no need to pass a password as it will use the public auth.

Since this is Webdav, Range requests should work and should make seeking possible.

[2015-11-10 07:50] PVince81 commented on #2087
Regarding public page seeking, raised https://github.com/owncloud/apps/issues/2120

[2015-11-10 07:50] #2087 closed

[2015-11-10 07:51] PVince81 commented on #2064
Raised https://github.com/owncloud/apps/issues/2120 for public page seeing.

@SergioBertolinSG can you verify non-public page seeking with big buck bunny ?

[2015-11-10 08:13] SergioBertolinSG commented on #2064
I've tested in 8.2.1 (daily tarball) It works correctly, using chrome, firefox and safari.

But I've seen a problem with locking. After closing the video, you can't move the file, a warning appears telling you that it is locked.

[2015-11-10 08:20] MorrisJobke commented on #2064
This is not really related to this ticket -> please open a new issue.

I will close this issue then, because it's fixed.

[2015-11-10 08:20] #2064 closed

[2015-11-10 09:45] SergioBertolinSG opened #2121 "Playing a video locks the file and doesn't unlock it when it stops."
### Steps to reproduce

1.- Upload a video.
2.- Reproduce it.
3.- Jump to the middle of the video, clicking in the time slider.
4.- Close the video player.
5.- Move the video file into a folder.

### Expected behaviour
Video is played correctly, file is moved to the folder.

### Actual behaviour
Video is played correctly and when moving the file you are not allowed because it is locked. (A warning

[2015-11-10 09:45] SergioBertolinSG commented on #2121
cc @PVince81 @icewind1991

[2015-11-10 09:47] freechelmi commented on #2064
Thanks non-shared video seekable seeked without problem. (sintel  mp4)
I confirm the issue is fixed.

[2015-11-10 09:50] SergioBertolinSG commented on #2064
@MorrisJobke Opened here https://github.com/owncloud/apps/issues/2121

[2015-11-10 10:07] PVince81 commented on #2121
I wonder if the mediaelement isn't closing the network connection properly @VicDeo

[2015-11-10 10:09] PVince81 commented on #2064
(and now I feel like watching Elephant's dream again, thanks guys)

[2015-11-10 16:13] PVince81 commented on #2121
@SergioBertolinSG did you stop the video or just pause it ?
Does it unlock if you switch away or close the browser tab ?

Also check the network console and find the video stream connection. I think the video player probably keeps the connection open in case you unpause. As long as the network connection is open, the file will be locked and it is expected so that no one can for example delete the

[2015-11-10 16:53] SergioBertolinSG commented on #2121
I closed the video viewer and moved the file.
When closing the tab it gets unlocked yes.

[2015-11-10 16:54] PVince81 commented on #2121
@icewind1991 and I tried on our environments (both Firefox), seeked a bit, then closed the player.
It was still possible to move/delete the file.

[2015-11-10 16:55] PVince81 commented on #2121
If closing the tab works, then it means that the browser still had a network connection, maybe still streaming a bit. It's more a bug of the video player then or the library it uses.

Locking works as expected, as long as the connection is open.

Mind opening a ticket in https://github.com/owncloud/apps for the video player ?

CC @VicDeo

[2015-11-10 16:55] #2121 closed

[2015-11-11 17:11] #283 closed

[2015-11-11 17:11] #328 closed

[2015-11-11 18:23] MTRichards commented on #328
A lot of work is being done on this with ownCloud 9.0, so some of this will be resolved then. Adding this here for tracking purposes.

[2015-11-12 04:29] duongtannhu commented on #1292
It's been 2 years. Do you have any update? Or do you have plan to make this enhancement (to support office 2003 files)?

Thank you.

[2015-11-12 10:05] icewind1991 commented on #375
If this issue is still valid for 8.2 please reopen in the calander app

[2015-11-12 10:05] #375 closed

[2015-11-12 10:06] icewind1991 commented on #458
If this issue is still valid with the 8.2 media player please reopen in the music repo

[2015-11-12 10:06] #458 closed

[2015-11-12 10:06] icewind1991 commented on #348
If this issue is still valid please reopen in the documents repo

[2015-11-12 10:06] #348 closed

[2015-11-12 10:07] icewind1991 commented on #551
If this issue is still valid please reopen in the documents repo

[2015-11-12 10:07] #551 closed

[2015-11-12 10:07] icewind1991 commented on #755
if this issue is still valid please reopen in the videos repo

[2015-11-12 10:07] #755 closed

[2015-11-12 10:08] icewind1991 commented on #773
If this issue is still valid please repen in the gallery repo

[2015-11-12 10:08] #773 closed

[2015-11-12 10:09] icewind1991 commented on #792
If this issue is still valid please reopen in the bookmarks repo

[2015-11-12 10:09] #792 closed

[2015-11-12 10:11] icewind1991 commented on #440
Closing due to inactivity, if this issue is still valid in 8.2 please reopen

[2015-11-12 10:11] #440 closed

[2015-11-12 10:11] icewind1991 commented on #739
If this issue is still valid please reopen in the gallery repo

[2015-11-12 10:11] #739 closed

[2015-11-12 10:11] icewind1991 commented on #923
If this issue is still valid please reopen in the gallery repo

[2015-11-12 10:11] #923 closed

[2015-11-12 10:13] icewind1991 commented on #782
If this problem is still valid please reopen in the tasks repo

[2015-11-12 10:13] #782 closed

[2015-11-12 10:13] icewind1991 commented on #847
If this issue is still valid please reopen in the search_lucene repo

[2015-11-12 10:13] #847 closed

[2015-11-12 10:14] icewind1991 commented on #924
If this issue is still valid please reopen in the bookmarks repo

[2015-11-12 10:14] #924 closed

[2015-11-12 10:14] icewind1991 commented on #842
If this issue is still valid please reopen in the calendar repo

[2015-11-12 10:14] #842 closed

[2015-11-12 10:15] icewind1991 commented on #926
If this issue is still valid please reopen in the calendar repo

[2015-11-12 10:15] #926 closed

[2015-11-12 10:15] icewind1991 commented on #597
If this issue is still valid please reopen in the calendar repo

[2015-11-12 10:15] #597 closed

[2015-11-12 10:15] icewind1991 commented on #518
If this issue is still valid please reopen in teh gallery repo

[2015-11-12 10:15] #518 closed

[2015-11-12 10:17] icewind1991 commented on #1014
If this issue is still valid please reopen in the music repo

[2015-11-12 10:17] #1014 closed

[2015-11-12 10:18] icewind1991 commented on #498
This issue is no longer valid from what I can tell since the old cache table is gone for many releases by now

[2015-11-12 10:18] #498 closed

[2015-11-12 10:18] icewind1991 commented on #1120
If this issue is still valid please reopen in the tasks repo

[2015-11-12 10:18] #1120 closed

[2015-11-12 10:19] icewind1991 commented on #1117
If this issue is still valid please reopen in the tasks repo

[2015-11-12 10:19] #1117 closed

[2015-11-12 10:20] icewind1991 commented on #452
If this issue is still valid please reopen in the calendar repo

[2015-11-12 10:20] #452 closed

[2015-11-12 10:20] icewind1991 commented on #1137
If this issue is still valid please reopen in the gallery repo

[2015-11-12 10:20] #1137 closed

[2015-11-12 10:22] icewind1991 commented on #1150
If this issue is still valid please reopen in the gallery app

[2015-11-12 10:22] #1150 closed

[2015-11-12 10:22] icewind1991 commented on #825
If this issue is still valid please reopen in the calendar repo

[2015-11-12 10:22] #825 closed

[2015-11-12 10:26] icewind1991 commented on #1169
If this request is still valid please reopen in the core repo

[2015-11-12 10:26] #1169 closed

[2015-11-12 10:26] icewind1991 commented on #904
If this issue is still valid please reopen in the documents repo